<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
					<i class="icon icon-email"></i>
                    <div class="title">Check Email</div>
                    <div class="text">Please check your email to confirm withdrawal.</div>
                    <div class="modal-btn">
                        <button type="button" class="btn btn-blue" data-dismiss="modal">ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-two">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                <i class="icon icon-close-order"></i>
            </button>
            <div class="modal-body">
                <div class="text-center">
                    <i class="icon icon-email"></i>
                    <i class="icon icon-setting"></i>
                    <i class="icon icon-warning"></i>
                    <div class="title">Your account has been frozen due to unauthorized activity</div>
                    <div class="text">Please check your email to confirm withdrawal.</div>
                    <div class="modal-btn">
                        <button type="button" class="btn btn-blue" data-dismiss="modal">Button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>