.btn {
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	padding: 8px 10px;
	line-height: normal;
	position: relative;
	border-radius: 5px;
	&-sm {
		font-size: 12px;
	}
	&-full {
		width: 100%;
	}
	&.disabled,
	&:disabled {
		background: #e0e0e5;
		color: $color_gray_1;
	}
	&-lg {
		min-width: 270px;
		text-transform: uppercase;
		padding-top: 18px;
		padding-bottom: 18px;
	}
	&-red {
		background-color: #F54865;
		color: $color_white;
		opacity: 0.75;
		&:hover {
			opacity: 1;
		}
	}
	&-green {
		background-color: #00d280;
		color: $color_white;
		opacity: 0.75;
		&:hover {
			opacity: 1;
		}
	}
	&-blue {
		background-color: #4A90E2;
		color: $color_white;
	}
	&-menu {
		border: 0;
		padding: 10px 15px;
		line-height: 2px;
		text-align: right;
		width: 52px;
		.icon-bar {
			display: inline-block;
			vertical-align: top;
			background: $color_white;
			width: 22px;
			height: 2px;
			@include web_transition(all .2s ease-in-out);
			& + .icon-bar {
				margin-top: 5px;
			}
			&:nth-child(2) {
				width: 18px;
			}
			&:nth-child(3) {
				width: 20px;
			}
		}
		&.open {
			.icon-bar {
				&:first-child {
					@include web_transform(translateY(7px) rotate(45deg));
					width: 100%;
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:last-child {
					@include web_transform(translateY(-7px) rotate(-45deg));
					width: 100%;
				}
			}
		}
	}
	&-toggle {
		background: #5dd0f6;
		cursor: pointer;
		padding: 2px 5px;
		border-radius: 26px;
		text-decoration: none;
		transition: all .2s ease;
		height: 16px;
		width: 38px;
		position: relative;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
		.toggle {
			width: 20px;
			height: 20px;
			background: #4A90E2;
			border-radius: 50%;
			display: block;
			position: absolute;
			left: 0;
			top: -2px;
			transition: all .2s ease;
			-webkit-transition: all .2s ease;
		}
		&.on{
			.toggle{
				right: 0;
				left: inherit;
			}
		}
	}
}

.link {
	display: inline-block;
	vertical-align: top;
	&-underline {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

.box-control-button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 32px;
	line-height: 32px;
	padding: 10px;
	width: 60px;
	a {
		opacity: 0.65;
		padding: 2px;
		&:hover {
			opacity: 1;
		}
	}
	
}

.box-checkbox {
	position: relative;
	width: 18px;
	height: 18px;
	input[type=checkbox] {
		display: none;
	}
	input[type=checkbox]:checked + label:before {
		content: "";
		background-color: #4990e2;
		background-image: url("../images/icon/checkbox-on-a.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 85%;
	}
	label:before {
		content: "";
		display: inline-block;
		width: 18px;
		height: 18px;
		border: 2px solid #dcdcdd;
		margin-top: -8px;
		position: absolute;
		left: 0;
		top: 50%;
		color: #212226;
		background: #212226;
		border-radius: 3px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		text-align: center;
		line-height: 16px;
		font-size: 12px;
	}
	
}