.icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: -2px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  &-left{
    margin-right: 5px;
  }
  &-right{
    margin-left:5px;
  }
  &-fiwi{
    width: 18px;
    height: 18px;
    background-image: url("../images/icon/connection-good.svg");
  }
  &-balances{
    width: 30px;
    height: 30px;
    background-image: url("../images/icon/Balance_0.svg");
  }
  &-support{
    width: 30px;
    height: 30px;
    background-image: url("../images/icon/Support_0.svg");
  }
  &-notificator{
    width: 30px;
    height: 30px;
    background-image: url("../images/icon/Notification_0.svg");
  }
  &-user{
    width: 30px;
    height: 30px;
    background-image: url("../images/icon/User_0.svg");
  }
  &-dropdown{
    width: 18px;
    height: 18px;
    background-image: url("../images/icon/dropdown.svg");
  }
  &-dropdown-red{
    width: 18px;
    height: 18px;
    background-image: url("../images/icon/dropdown-red.svg");
  }
  &-close-tr{
    width: 18px;
    height: 18px;
    background-image: url("../images/icon/close-red.svg");
  }
  &-cons{
    width: 18px;
    height: 18px;
    background-image: url("../images/icon/childmark-small-n.svg");
  }
  &-market{
    width: 18px;
    height: 18px;
    background-image: url("../images/icon/filters-small-n Copy.svg");
  }
  &-close{
    width: 18px;
    height: 18px;
    background-image: url("../images/icon/close-small-n.svg");
  }
  &-close-order{
    width: 18px;
    height: 18px;
    background-image: url("../images/icon/close-small-n-grey.svg");
  }
  &-ribble{
    width: 33px;
    height: 33px;
    background-image: url("../images/icon/XRP.svg");
  }
  &-logo{
    width: 132px;
    height: 24px;
    background-image: url("../images/icon/Logo-white.svg");
  }
  &-arrow-toggle{
    width: 18px;
    height: 18px;
    background-image: url("../images/icon/dropdown-small-n.svg");
  }
  &-arrow-top{
    width: 14px;
    height: 14px;
    background-image: url("../images/icon/up-top.svg");
  }
  &-arrow-bottom{
    width: 14px;
    height: 14px;
    background-image: url("../images/icon/up.svg");
  }
  &-star{
    width: 18px;
    height: 18px;
    background-image: url("../images/icon/favorite-n-e.svg");
  }
  &-search{
    width: 18px;
    height: 18px;
    background-image: url("../images/icon/search-n.svg");
  }
  &-more{
    width: 18px;
    height: 18px;
    background-image: url("../images/icon/more-small-n.svg");
  }
  &-min{
    width: 15px;
    height: 14px;
    background-image: url("../images/icon/Plus sign.svg");
  }
  &-max{
    width: 15px;
    height: 14px;
    background-image: url("../images/icon/Minus sign.svg");
  }
  &-donwload{
    width: 18px;
    height: 18px;
    background-image: url("../images/icon/download-arrow.svg");
  }
  &-donwload-top{
    width: 18px;
    height: 18px;
    background-image: url("../images/icon/download-arrow-top.svg");
  }
  &-copy{
    width: 18px;
    height: 20px;
    background-image: url("../images/icon/copy_24px.svg");
  }
  &-refresh{
    width: 18px;
    height: 18px;
    background-image: url("../images/icon/copy_24px copy.svg");
  }
  &-shield{
    width: 84px;
    height: 88px;
    background-image: url("../images/icon/shield.svg");
  }
  &-soon{
    width: 34px;
    height: 50px;
    background-image: url("../images/icon/time.svg");
  }
  &-see{
    width: 24px;
    height: 24px;
    background-image: url("../images/icon/visibility_off_24px.svg");
  }
  &-email{
    width: 92px;
    height: 92px;
    background-image: url("../images/icon/envelope-2.svg");
  }
  &-warning{
    width: 102px;
    height: 92px;
    background-image: url("../images/icon/envelope-1.svg");
  }
  &-setting{
    width: 100px;
    height: 100px;
    background-image: url("../images/icon/envelope.svg");
  }
  &-btc{
    width: 18px;
    height: 22px;
    background-image: url("../images/icon/BTC.svg");
  }
  
  &-eth{
    width: 14px;
    height: 22px;
    background-image: url("../images/icon/ETH.svg");
  }
  &-ltc{
    width: 16px;
    height: 22px;
    background-image: url("../images/icon/LTC.svg");
  }
  &-ckt{
    width: 20px;
    height: 22px;
    background-image: url("../images/icon/CKT.svg");
  }
  &-prev-max{
    width: 16px;
    height: 14px;
    background-image: url("../images/icon/last_page_24px copy 3.svg");
  }
  &-prev{
    width: 9px;
    height: 14px;
    background-image: url("../images/icon/last_page_24px copy 2.svg");
  }
  &-next-max{
    width: 16px;
    height: 14px;
    background-image: url("../images/icon/last_page_24px.svg");
  }
  &-next{
    width: 9px;
    height: 14px;
    background-image: url("../images/icon/last_page_24px copy.svg");
  }
}