.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	&.fade {
		opacity: 0;
		filter: alpha(opacity=0);
		@include web_transition(opacity .15s linear);
		.modal-dialog {
			@include web_transform(translate(0, -25%));
			@include web_transition(transform .3s ease-out);
		}
	}
	&.in {
		opacity: 1;
		filter: alpha(opacity=100);
		.modal-dialog {
			@include web_transform(translate(0, 0));
		}
	}
	&-open {
		overflow: hidden;
		.modal {
			overflow-x: hidden;
			overflow-y: auto;
		}
	}
	&-backdrop {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1040;
		background-color: #000;
		&.fade {
			filter: alpha(opacity=0);
			opacity: 0;
		}
		&.in {
			filter: alpha(opacity=50);
			opacity: .5;
		}
	}
	&-scrollbar-measure {
		position: absolute;
		top: -9999px;
		width: 50px;
		height: 50px;
		overflow: scroll;
	}
	&-dialog {
		max-width: 640px;
		margin: 15% auto 0;
		position: relative;
		width: auto;
	}
	&-content {
		border-radius: 5px;
		position: relative;
		outline: 0;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		background: $color_white;
		color: #323232;
	}
	&-body {
		font-size: 20px;
		padding: 45px;
		position: relative;
		.title {
			color: rgba(0, 0, 0, 0.87);
			font-size: 34px;
			letter-spacing: 0.25px;
			line-height: 40px;
			text-align: center;
			margin-bottom: 20px;
			margin-top: 40px;
		}
		.text {
			font-size: 16px;
			padding-bottom: 45px;
		}
	}
	&-btn {
		margin-top: 35px;
		.btn{
			max-width: 320px;
			width: 100%;
			margin: 0 auto;
			height: 44px;
			line-height: 30px;
			text-transform: uppercase;
		}
	}
	.close {
		position: absolute;
		width: 40px;
		height: 40px;
		line-height: 28px;
		right: 10px;
		top: 10px;
		z-index: 10;
		padding: 0;
		border: 0;
		.icon{
			width: 34px;
			height: 34px;
		}
		&:hover {
			opacity: 0.5;
		}
	}
}