.block-markets {
	padding-top: 40px;
	padding-bottom: 20px;
	width: 100%;
	&-title {
		color: rgba(255, 255, 255, .87);
		font-size: 24px;
		line-height: 28px;
		padding-bottom: 20px;
	}
	&-value {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		&-item {
			background-color: #212226;
			width: 24%;
			border-radius: 5px;
			padding: 16px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;
			height: 190px;
			&-top {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				&-text {
					.icon {
						margin-right: 8px;
					}
					color: rgba(255, 255, 255, 0.87);
					font-size: 14px;
					font-weight: 500;
					letter-spacing: 0.25px;
					line-height: 20px;
					span {
						color: rgba(255, 255, 255, 0.6);
					}
				}
			}
			
			&-bottom {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				padding-top: 10px;
				&-text {
					color: rgba(255, 255, 255, 0.87);
					font-size: 12px;
					letter-spacing: 0.21px;
					line-height: 24px;
					span {
						color: rgba(255, 255, 255, 0.6);
					}
				}
			}
		}
	}
	
	&-filter {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 20px;
		padding-top: 20px;
		&-text {
			color: rgba(255, 255, 255, .87);
			font-size: 16px;
			line-height: 28px;
		}
		&-search {
			.box-control {
				position: relative;
				width: 140px;
				.form-control {
					color: rgba(255, 255, 255, .87);
					font-size: 12px;
					letter-spacing: 0.4px;
					line-height: 16px;
					border-bottom: 1px solid #38393d;
					background: 0 0 !important;
					padding-left: 0;
				}
				.icon {
					position: absolute;
					right: 0;
					bottom: 6px;
					color: #4a90e2;
					font-size: 14px;
					font-weight: 500;
					letter-spacing: 1.25px;
					line-height: 16px;
					width: 22px;
					height: 22px;
				}
			}
		}
	}
	&-table {
		.table {
			border-radius: 4px;
			margin-bottom: 0;
			&-header {
				background-color: #212226;
				.tr {
					.td {
						color: rgba(255, 255, 255, 0.6);
						font-size: 14px;
						font-weight: 500;
						letter-spacing: 0.1px;
						line-height: 48px;
						padding: 0 16px;
						border-bottom: 1px solid #38393d;
						position: relative;
						vertical-align: middle;
						
					}
				}
			}
			&-body {
				.tr {
					background-color: #212226;
					.td {
						color: rgba(255, 255, 255, 0.8);
						font-size: 14px;
						font-weight: 500;
						letter-spacing: 0.1px;
						line-height: 48px;
						padding: 0 16px;
						border-bottom: 1px solid #38393d;
						position: relative;
						vertical-align: middle;
					}
				}
			}
			
		}
		.table-nav {
			display: flex;
			background-color: #212226;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			padding: 18px 16px;
			color: rgba(255, 255, 255, 0.87);
			font-size: 14px;
			letter-spacing: 0.25px;
			line-height: 20px;
			&-btn {
				width: 180px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				a {
					padding: 0 5px;
					&:hover {
						opacity: 0.6;
					}
				}
			}
			& > div {
				padding-left: 34px;
			}
		}
	}
}