.border-bottom {
	padding-bottom: 10px;
	border-bottom: 1px solid $border_color_1;
}

.block-account-name {
	color: rgba(255, 255, 255, 0.87);
	font-size: 24px;
	line-height: 28px;
}

.block-account-status {
	font-size: 12px;
	letter-spacing: 0.4px;
	line-height: 16px;
	margin-top: 15px;
}

.block-account {
	background-color: #212226;
	border-radius: 5px;
	margin-bottom: 34px;
	margin-top: 20px;
	.block-account-item {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 24px 32px;
		&:not(:first-child) {
			border-top: 1px solid #38393d;
		}
		&-load {
			width: 100%;
			height: 4px;
			position: relative;
			margin-bottom: 6px;
			&-value {
				position: absolute;
				top: 0;
				left: 0;
				height: 4px;
			}
			&.green {
				background-color: rgba(0, 210, 128, 0.2);
				.block-account-item-load-value {
					background-color: #00D280;
				}
			}
			&.red {
				background-color: rgba(245, 72, 101, 0.2);
				.block-account-item-load-value {
					background-color: #F54865;
				}
			}
		}
	}
	
}