header {
	text-align: center;
}

.header {
	position: relative;
	//top:0;
	//left:0;
	width: 100%;
	line-height: 50px;
	height: 50px;
	z-index: 10;
	//background: $bg_body;
	background-color: #212226;
	border-bottom: 1px solid #38393d;
	&-tab {
		display: flex;
		&-logo {
			padding-right: 80px;
		}
		&-wifi {
			padding: 0 5px;
		}
		&-tame {
			color: #848588;
			font-size: 12px;
			padding-right: 35px;
		}
		&-link {
			color: $color_white;
			opacity: 0.5;
			text-transform: uppercase;
			font-size: 12px;
			padding: 0 14px;
			&:hover {
				opacity: 0.8;
			}
			&.active {
				opacity: 1;
				font-weight: bold;
			}
		}
	}
	
	&-nav {
		li {
			display: inline-block;
			vertical-align: top;
			padding: 0 5px;
			position: relative;
			font-size: 12px;
			.link {
				opacity: 0.8;
				color: #848588;
				padding: 0 5px;
				span {
					color: #C2C3C6;
					padding-left: 12px;
				}
				position: relative;
				&:hover {
					opacity: 1;
				}
				&-balances {
					padding-right: 6px;
					&:after {
						content: '';
						position: absolute;
						top: 11px;
						right: 0;
						width: 1px;
						height: 28px;
						display: block;
						background: #363840;
						
					}
				}
			}
			.link-balances {
				&:hover {
					background-color: #363840;
					.icon-dropdown {
						-webkit-transform: rotate(180deg);
						transform: rotate(180deg);
					}
					.link-balances-open {
						display: block;
					}
				}
				&-open {
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					background-color: #363840;
					display: none;
					z-index: 10;
					&-link {
						display: block;
						padding: 8px;
						height: 32px;
						color: #C2C3C6;
						line-height: 15px;
						&:hover {
							background-color: #2C2D33;
							color: $color_white;
							
						}
					}
				}
			}
			.link-support {
				&:hover {
					background-color: #363840;
					.link-support-open {
						display: block;
					}
				}
				&-open {
					position: absolute;
					top: 100%;
					right: 0;
					width: 120px;
					background-color: #363840;
					display: none;
					z-index: 10;
					&-link {
						display: block;
						padding: 8px;
						height: 32px;
						color: #C2C3C6;
						line-height: 15px;
						&:hover {
							background-color: #2C2D33;
							color: $color_white;
							
						}
					}
				}
			}
			.link-notificator {
				&:hover {
					background-color: #363840;
					.link-notificator-open {
						display: block;
					}
				}
				&-open {
					position: absolute;
					top: 100%;
					right: 0;
					width: 280px;
					background-color: #363840;
					display: none;
					z-index: 10;
					&-link {
						display: block;
						padding: 8px 17px;
						color: #C2C3C6;
						line-height: 15px;
						opacity: 0.6;
						position: relative;
						text-align: left;
						&-name {
							color: #FFFFFF;
							font-size: 12px;
							line-height: 16px;
							padding-right: 38px;
						}
						&-text {
							padding-right: 38px;
							color: #848588;
							font-size: 11px;
							line-height: 14px;
						}
						&-close {
							width: 38px;
							height: 100%;
							position: absolute;
							display: block;
							top: 0;
							right: 0;
							opacity: 0.6;
							padding: 10px;
							&:hover {
								opacity: 1;
							}
						}
						&:hover {
							background-color: #2C2D33;
							color: $color_white;
							opacity: 1;
						}
					}
					&-show{
						border-top: 1px solid #2c2d33;
						padding: 4px 17px;
						color: #c2c3c6;
						line-height: 28px;
						opacity: .6;
						display: block;
						&:hover {
							background-color: #2C2D33;
							color: $color_white;
							opacity: 1;
						}
					}
				}
			}
			.link-user {
				&:hover {
					background-color: #363840;
					.link-user-open {
						display: block;
					}
					.icon-dropdown {
						-webkit-transform: rotate(180deg);
						transform: rotate(180deg);
					}
				}
				&-open {
					position: absolute;
					top: 100%;
					right: 0;
					width: 120px;
					background-color: #363840;
					display: none;
					z-index: 10;
					&-link {
						display: block;
						padding: 8px;
						height: 32px;
						color: #C2C3C6;
						line-height: 15px;
						&:hover {
							background-color: #2C2D33;
							color: $color_white;
							
						}
					}
				}
			}
			&.active {
				a {
					opacity: 1;
				}
				&:after {
					position: absolute;
					bottom: 0;
					left: 50%;
					width: 46px;
					margin-left: -23px;
					height: 2px;
					background: $color_white;
					content: '';
				}
			}
		}
	}
	&-menu {
		line-height: normal;
		display: none;
		.btn-menu {
			margin-right: -15px;
		}
	}
}

//@media(max-width: 1040px) {
//  .header{
//    &-nav{
//      li{
//        margin: 0 10px;
//      }
//    }
//  }
//}
//@media(min-width: 941px) {
//  .header-nav{
//    display: block!important;
//  }
//}
//@media(max-width: 940px) {
//  .header{
//    padding: 10px 0;
//    line-height: 36px;
//    &-logo{
//      z-index: 11;
//      img{
//        height: 35px;
//      }
//    }
//    &-nav{
//      display: none;
//      position: fixed;
//      top:0;
//      left:-100%;
//      height: 100%;
//      width: 100%;
//      padding-top: 100px;
//      line-height: 38px;
//      z-index: 9;
//      background: $color-white;
//      li{
//        display: block;
//        margin: 0;
//        &:after{
//          display: none;
//        }
//        a{
//          border-bottom: 3px solid transparent;
//        }
//        &.active{
//          a{
//            border-bottom-color: $color_white;
//            opacity: 1;
//          }
//        }
//      }
//      &.open{
//        left: 0;
//      }
//    }
//    &-menu{
//      z-index: 11;
//      display: block;
//      .btn-border{
//        min-width: 145px;
//      }
//    }
//  }
//  .menu-open{
//    overflow: hidden;
//    .header-logo{
//      opacity: 0.99!important;
//    }
//  }
//}