.market-stats {
	background-color: #212226;
	padding: 12px;
	color: $color_text-grey;
	margin-bottom: 6px;
	width: 100%;
	&_header {
		display: flex;
		padding-bottom: 6px;
		&-icon {
			padding-right: 12px;
		}
		&-info {
			width: 100%;
			&-title {
				font-size: 12px;
				line-height: 18px;
				
			}
			&-text {
				color: #FFFFFF;
				font-size: 14px;
				line-height: 18px;
				font-weight: bold;
			}
			& > div {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}
		}
	}
	&_body {
		&-text {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			font-size: 12px;
			line-height: 18px;
			padding: 1px 0;
		}
	}
}