.markets {
	margin-bottom: 4px;
	&.open{
		.icon-arrow-toggle{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
	}
	&_header {
		background-color: #212226;
		padding: 8px 2px;
		color: $color_white;
		font-size: 12px;
		font-weight: bold;
		line-height: 16px;
		text-transform: uppercase;
		.icon-arrow-toggle{
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
	&_body {
		&-current {
			background-color: #2C2D33;
			height: 32px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			&-item {
				font-size: 12px;
				line-height: 32px;
				text-transform: uppercase;
				color: #848588;
				text-align: center;
				height: 100%;
				width: 16%;
				border-bottom: 1px solid #2C2D33;
				opacity: 0.65;
				&:hover{
					opacity: 1;
					cursor: pointer;
				}
				&.active{
					border-bottom: 1px solid $color_white;
					color: $color_white;
					opacity: 1;
				}
			}
		}
		&-value {
			overflow: hidden;
			&-item {
				font-size: 12px;
				line-height: 18px;
				background-color: #17171A;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: 4px 10px;
				&:first-child {
					font-size: 11px;
					padding: 6px 10px;
					text-transform: uppercase;
					& > div {
						color: #848588;
						text-align: center;
						&:not(:last-child) {
							border-right: 1px solid #363840;
						}
					}
				}
				&:nth-child(odd) {
					background-color: #212226;
				}
				& > div {
					width: 33%;
				}
				&-pair {
					span {
						padding-left: 14px;
					}
				}
				&-price {
					text-align: right;
					span {
						padding-right: 16px;
					}
				}
				&-change {
					text-align: right;
					span {
						padding-right: 20px;
					}
				}
				&.active{
					background-color: rgba(18,163,235,0.15);
					.icon-star{
						background-image: url("../images/icon/favorite-n.svg");
						
					}
				}
			}
		}
	}
}