.sell {
	margin-bottom: 6px;
	&_header {
		padding: 14px 12px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: #212226;
		position: relative;
		border-bottom: 1px solid #2C2D33;
		&.active-sell {
			& > div {
				&:first-child {
					.sell_header-item-text {
						color: #F54865;
						opacity: 1;
					}
					.sell_header-item-value {
						opacity: 1;
					}
				}
			}
			span {
				color: #F54865;
			}
			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 50%;
				height: 100%;
				background: linear-gradient(180deg, rgba(245, 72, 101, 0.25) 0%, rgba(245, 72, 101, 0.15) 100%);
				z-index: 0;
				display: block;
			}
		}
		&.active-buy {
			& > div {
				&:last-child {
					.sell_header-item-text {
						color: #00D280;
						opacity: 1;
					}
					.sell_header-item-value {
						opacity: 1;
					}
				}
			}
			span {
				color: #00D280;
			}
			&:after {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				width: 50%;
				height: 100%;
				background: linear-gradient(180deg, rgba(0, 210, 128, 0.25) 0%, rgba(0, 210, 128, 0.15) 100%);
				z-index: 0;
				display: block;
			}
		}
		&-item {
			z-index: 1;
			&-text {
				color: $color_white;
				font-size: 12px;
				line-height: 18px;
				opacity: 0.6;
			}
			&-value {
				color: $color_white;
				font-size: 14px;
				line-height: 20px;
				opacity: 0.6;
			}
			span {
				color: $color_white;
				&.text-min {
					font-size: 10px;
				}
				font-size: 12px;
				line-height: 16px;
				text-align: center;
			}
		}
	}
	&_body {
		padding: 14px 12px;
		background-color: #212226;
		&-item {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 3px;
			&-text {
				width: 20%;
				color: #848588;
				font-size: 12px;
				line-height: 18px;
			}
			&-value {
				width: 70%;
				&-tab {
					display: flex;
					flex-direction: row;
					&-tabs {
						width: 50%;
						color: #C2C3C6;
						font-size: 12px;
						height: 32px;
						line-height: 32px;
						text-align: center;
						background-color: #2C2D33;
						border-bottom: 1px solid #2C2D33;
						&.active-tabs {
							background-color: #363840;
							color: $color_white;
							border-bottom: 1px solid $color_white;
						}
						
					}
				}
				&-form {
					.box-control {
						position: relative;
						.value {
							height: 32px;
							line-height: 32px;
							color: #848588;
							font-size: 12px;
							width: 30px;
							text-align: center;
							position: absolute;
							top: 0;
							right: 0;
						}
						.box-control-button {
							position: absolute;
							top: 0;
							right: 30px;
							
						}
					}
				}
				&-text {
					width: 100%;
					text-align: right;
					color: #4F525E;
					font-size: 10px;
					line-height: 18px;
					padding: 2px 0;
				}
				&-factor {
					width: 100%;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					text-align: center;
					padding: 2px 0;
					&-item {
						width: 25%;
						color: #848588;
						font-size: 11px;
						line-height: 18px;
						&:hover{
							color: $color_white;
							cursor: pointer;
						}
						&:not(:last-child) {
							border-right: 1px solid #363840;
						}
					}
				}
			}
		}
		.box-btn{
			padding-top: 10px;
		}
	}
}