.table-api-tab {
	&-name {
		color: rgba(255, 255, 255, 0.87);
		font-size: 20px;
		font-weight: 500;
		letter-spacing: 0.25px;
		line-height: 26px;
		padding: 24px 32px;
	}
	&-tabl{
		.table{
			&-heading {
				.tr {
					.td {
						color: rgba(255, 255, 255, 0.6);
						font-size: 14px;
						font-weight: 500;
						letter-spacing: 0.1px;
						line-height: 48px;
						padding: 0 6px 0 12px;
						border-bottom: 1px solid #38393d;
						position: relative;
						vertical-align: middle;
						
					}
				}
			}
			&-body {
				.icon-see{
					margin-right: 10px;
				}
				.tr {
					background-color: #212226;
					.td {
						color: rgba(255, 255, 255, 0.8);
						font-size: 14px;
						font-weight: 500;
						letter-spacing: 0.1px;
						line-height: 48px;
						padding: 0 6px 0 12px;
						border-bottom: 1px solid #38393d;
						position: relative;
						vertical-align: middle;
						
					}
					
					.close-tr{
						width: 18px;
						height: 18px;
						background-color: #a6a6a8;
						border-radius: 50%;
						display: block;
						position: relative;
						.icon{
							position: absolute;
							top: 2px;
							left: 0;
						}
						&:hover{
							cursor: pointer;
							background-color: #7C7C7E;
						}
					}
				}
			}
		}
	}
	&-check{
		padding: 16px 32px;
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		&-item{
			
			width: 20%;
			.box-checkbox {
				position: relative;
				width: 100%;
				height: inherit;
				padding-left: 26px;
				color: rgba(255,255,255,.87);
				font-size: 14px;
				letter-spacing: .25px;
				line-height: 20px;
				&:not(:first-child){
					margin-top: 15px;
				}
			}
		}
		
	}
	&-create{
		padding: 24px 32px;
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: flex-end;
		.box-control {
			position: relative;
			padding-right: 20px;
			.label {
				color: $color_white;
				font-size: 12px;
				letter-spacing: 0.3px;
				line-height: 22px;
				padding-left: 10px;
			}
			.form-control {
				color: $color_white;
				font-size: 16px;
				letter-spacing: 0.15px;
				line-height: 24px;
				padding: 16px;
				border-radius: 4px;
				height: 56px;
				background: transparent;
				border: 1px solid rgba(255, 255, 255, 0.32);
				overflow: hidden;
				min-width: 320px;
			}
		}
		.btn {
			padding: 16px;
			border-radius: 4px;
			height: 56px;
			line-height: 26px;
			width: 100%;
			max-width: 240px;
			letter-spacing: 1.25px;
			font-weight: bold;
		}
	}
}