.table-activity-tab{
	padding-left: 40px;
	&-item{
		border: 1px solid #38393d;
		font-size: 14px;
		letter-spacing: .25px;
		line-height: 20px;
		&:not(:last-child){
			margin-bottom: 20px;
		}
		position: relative;
		&-icon{
			position: absolute;
			top: 5px;
			right: 100%;
			padding: 5px;
			.icon{
				width: 30px;
				height: 30px;
			}
		}
		&-header{
			border-bottom: 1px solid #38393d;
			background-color: #212226;
			padding: 12px 16px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				top: 20px;
				right: 100%;
				width: 0;
				height: 0;
				border-top: 5px solid transparent;
				border-right: 7px solid #bcbcbc;
				border-bottom: 5px solid transparent;
			}
			&-info{
				display: flex;
				flex-direction: row;
				justify-content: start;
				align-items: center;
				&-text{
					margin-right: 16px;
					padding: 3px 5px;
					border-radius: 4px;
					&.bg-green{
						background-color: rgba(0, 210, 128, 0.5);
					}
					&.bg-red{
						background-color: rgba(245, 72, 100, 0.5);
					}
					&.bg-grey{
						background-color: rgba(132, 132, 132, 0.5);
					}
				}
				&-api{
				
				}
			}
			&-date{
			
			}
		}
		&-body{
			padding: 12px 16px;
		}
		.table-nav {
			display: flex;
			background-color: #212226;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			padding: 18px 16px;
			color: rgba(255, 255, 255, 0.87);
			font-size: 14px;
			letter-spacing: 0.25px;
			line-height: 20px;
			&-btn {
				width: 180px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				a {
					padding: 0 5px;
					&:hover {
						opacity: 0.6;
					}
				}
			}
			& > div {
				padding-left: 34px;
			}
		}
	}
}