.table-trading-tab {
	.block-account-item-email {
		max-width: 560px;
		width: 100%;
	}
	.box-control {
		position: relative;
		margin-bottom: 20px;
		.label {
			color: rgba(255, 255, 255, 0.6);
			font-size: 14px;
			letter-spacing: 0.25px;
			line-height: 20px;
			padding-bottom: 12px;
		}
		.form-control {
			color: rgba(255, 255, 255, 0.87);
			font-size: 16px;
			letter-spacing: 0.5px;
			line-height: 28px;
			border-bottom: 1px solid #38393d;
			background: transparent !important;
			padding-left: 0;
		}
		a {
			position: absolute;
			right: 0;
			bottom: 8px;
			color: #4A90E2;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 1.25px;
			line-height: 16px;
		}
	}
	.block-account-item-status {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		&-icon {
			position: relative;
			
			span {
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				display: block;
				margin-top: -20px;
				color: #FFFFFF;
				font-size: 20px;
				font-weight: 500;
				letter-spacing: 0.25px;
				line-height: 26px;
				text-align: center;
			}
		}
		&-info {
			font-size: 14px;
			letter-spacing: 0.25px;
			line-height: 20px;
			padding-left: 34px;
			width: 310px;
			&-text {
				color: rgba(255, 255, 255, 0.6);
				padding-bottom: 10px;
			}
			&-name {
				color: rgba(255, 255, 255, 0.87);
				font-size: 20px;
				font-weight: 500;
				padding-bottom: 10px;
			}
			&-active {
				color: #4A90E2;
			}
		}
	}
	.block-account-item-box {
		width: 100%;
		&-title {
			color: rgba(255, 255, 255, 0.6);
			font-size: 14px;
			letter-spacing: 0.25px;
			line-height: 20px;
			padding-bottom: 6px;
		}
		&-text {
			color: $color_white;
			font-size: 20px;
			font-weight: 500;
			letter-spacing: 0.25px;
			line-height: 26px;
			padding-bottom: 22px;
			span {
				opacity: 0.6;
			}
		}
		&-level {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			
			margin-bottom: 10px;
			&-item {
				display: flex;
				color: rgba(255, 255, 255, 0.87);
				&-value {
					font-size: 14px;
					letter-spacing: 0.25px;
					line-height: 20px;
				}
				&-info {
					font-size: 12px;
					letter-spacing: 0.4px;
					line-height: 20px;
					padding: 0 12px;
					.icon-star {
						width: 26px;
						height: 26px;
					}
					&.first-level {
						.icon-star {
							background-image: url("../images/icon/favorite-n-e.svg");
						}
					}
					&.silver-level {
						.icon-star {
							background-image: url("../images/icon/favorite-n-w.svg");
						}
					}
					&.gold-level {
						.icon-star {
							background-image: url("../images/icon/favorite-n.svg");
						}
					}
				}
				&-text {
					color: rgba(255, 255, 255, 0.8);
					font-size: 12px;
					letter-spacing: 0.4px;
					line-height: 16px;
				}
			}
		}
		&-toggle {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			&-text {
				padding-left: 20px;
				span {
					opacity: 0.6;
				}
			}
		}
	}
	.block-account-item-limit {
		width: 45%;
	}
	.block-account-item-affiliate {
		width: 17%;
		&:last-child {
			width: 43%;
		}
	}
	.block-account-item-soon {
		width: 100%;
		text-align: center;
		span {
			color: rgba(255, 255, 255, 0.87);
			font-size: 20px;
			font-weight: 500;
			letter-spacing: 0.25px;
			line-height: 68px;
			padding-left: 20px;
		}
	}
}