

.table-orders-tab {
	border-radius: 4px;
	&-header {
		background-color: #212226;
		.tr {
			.td {
				color: rgba(255, 255, 255, 0.6);
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 0.1px;
				line-height: 48px;
				padding: 0 6px 0 12px;
				border-bottom: 1px solid #38393d;
				position: relative;
				vertical-align: middle;
				
			}
		}
	}
	&-body {
		.tr {
			background-color: #212226;
			.td {
				color: rgba(255, 255, 255, 0.8);
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 0.1px;
				line-height: 48px;
				padding: 0 6px 0 12px;
				border-bottom: 1px solid #38393d;
				position: relative;
				vertical-align: middle;
				.td-flex{
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
				}
				&.td-amount{
					width: 230px;
				}
				.block-amount{
					height: 4px;
					width: 128px;
					position: relative;
					margin-left: 16px;
					margin-right: 16px;
					.block-amount-value{
						position: absolute;
						height: 4px;
					}
					&.green{
						background-color: rgba(0,210,128,0.2);
						.block-amount-value{
							background-color: #00D280;
						}
					}
					&.red{
						background-color: rgba(245,72,101,0.2);
						.block-amount-value{
							background-color: #F54865;
						}
					}
				}
				
			}
			
			.close-tr{
				width: 18px;
				height: 18px;
				background-color: #a6a6a8;
				border-radius: 50%;
				display: block;
				position: relative;
				.icon{
					position: absolute;
					top: 2px;
					left: 0;
				}
				&:hover{
					cursor: pointer;
					background-color: #7C7C7E;
				}
			}
		}
	}
}