.table-limits-tab {
	.block-account-block{
		width: 100%;
	}
	.block-account-item-day {
		color: rgba(255, 255, 255, 0.6);
		font-size: 16px;
		letter-spacing: 0.5px;
		line-height: 28px;
		text-align: center;
		width: 100%;
		
	}
	
	.block-account-item-value {
		color: rgba(255, 255, 255, 0.87);
		font-size: 48px;
		line-height: 57px;
		text-align: center;
		width: 100%;
	}
	.block-account-item{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
	}
	.block-account-item-fees {
		
		width: 45%;
		&-name {
			color: rgba(255, 255, 255, 0.87);
			font-size: 20px;
			font-weight: 500;
			letter-spacing: 0.25px;
			line-height: 26px;
			padding-top: 20px;
			padding-bottom: 10px;
		}
		&-step {
			border-bottom: 1px solid #38393d;
			color: rgba(255, 255, 255, 0.6);
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 0.1px;
			line-height: 24px;
			padding: 12px 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: start;
			&-text {
			
			}
			&-value {
			}
		}
	}
}