.table-balance-tab {
	background-color: #212226;
	border-radius: 4px;
	margin-top: 22px;
	&-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 6px 12px;
		line-height: 35px;
		border-bottom: 1px solid #38393d;
		&-search {
			width: 50%;
			.box-control {
				position: relative;
				.icon {
					position: absolute;
					left: 0;
					top: 50%;
					width: 24px;
					height: 24px;
					margin-top: -12px;
				}
				.form-control {
					background-color: transparent;
					padding: 8px 13px 8px 30px;
				}
			}
		}
		&-filter {
			display: flex;
			flex-direction: row;
			justify-content: end;
			align-items: center;
			.box-checkbox {
				position: relative;
				width: inherit;
				height: inherit;
				padding-left: 26px;
				margin-left: 20px;
				color: rgba(255, 255, 255, 0.87);
				font-size: 14px;
				letter-spacing: 0.25px;
				line-height: 20px;
			}
		}
	}
	
	&-footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 6px 12px;
		&-item {
			color: rgba(255, 255, 255, 0.87);
			font-size: 14px;
			letter-spacing: 0.25px;
			line-height: 36px;
		}
	}
}

.table-balance {
	&-header {
		background-color: #212226;
		.tr {
			.td {
				color: rgba(255, 255, 255, 0.6);
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 0.1px;
				line-height: 48px;
				padding: 0 6px 0 12px;
				border-bottom: 1px solid #38393d;
				position: relative;
				vertical-align: middle;
				
			}
		}
	}
	&-body {
		.tr {
			background-color: #212226;
			.td {
				color: rgba(255, 255, 255, 0.8);
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 0.1px;
				line-height: 48px;
				padding: 0 12px;
				border-bottom: 1px solid #38393d;
				position: relative;
				vertical-align: middle;
				&.td-actions{
					width: 260px;
				}
			}
			.td-actions-btn {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}
			.btn{
				&.open{
					background: #808185;
				}
			}
			
			&.open-next-tr{
				background-color: #616267;
				td{
					border-color: #717276;
				}
				
			}
			&.open-tr{
				background-color: #616267;
				
			}
		}
	}
	
}
.add-info{
	.box-control{
		.label{
			color: $color_white;
			font-size: 12px;
			letter-spacing: 0.3px;
			line-height: 16px;
			padding-left: 10px;
		}
		.form-control{
			color: $color_white;
			font-size: 16px;
			letter-spacing: 0.15px;
			line-height: 24px;
			padding: 16px;
			border-radius: 4px;
			height: 56px;
			background: transparent;
			border: 1px solid rgba(255,255,255,0.32);
			overflow: hidden;
		}
	}
	padding: 0 12px;
	&.add-info-deposit{
		.add-info-header{
			justify-content: start;
			&-item{
				&:first-child{
					width: 60%;
				}
				a{
					font-size: 16px;
					line-height: 16px;
					letter-spacing: 1.25px;
					margin-top: 17px;
					margin-left: 25px;
					display: block;
					text-transform: uppercase;
					font-weight: 500;
					.icon{
						margin-right: 6px;
					}
				}
			}
		}
	}
	&-header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 16px 0;
		&_text{
			color: rgba(255, 255, 255, 0.87);
			font-size: 14px;
			letter-spacing: 0.25px;
			line-height: 36px;
		}
	}
	&-body{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		padding: 10px 0 24px;
		&-item{
			
			.btn{
				padding: 16px;
				border-radius: 4px;
				height: 56px;
				line-height: 28px;
				width: 100%;
				letter-spacing: 1.25px;
				font-weight: bold;
			}
			width: 19%;
			&:first-child{
				width: 37%;
			}
		}
		
	}
}