table{
  width: 100%;
  th{
    color: $color_gray_1;
    text-align: left;
  }
  td{
    vertical-align: middle;
  }
}
.table {
  width: 100%;
  margin-bottom: 6px;
  &-tab {
    display: flex;
    &-item {
      padding: 6px 12px;
      color: #C2C3C6;
      font-size: 12px;
      font-weight: bold;
      line-height: 20px;
      background-color: #363840;
      text-transform: uppercase;
      display: block;
      span {
        opacity: 0.35;
      }
      &:not(:last-child) {
        border-right: 1px solid #848588;
      }
      &.active {
        background-color: #212226;
        color: $color_white;
        border-right: 0;
      }
    }
  }
  &-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
    background-color: #212226;
    &-item {
      position: relative;
      color: #C2C3C6;
      font-size: 12px;
      &:hover {
        .table-dropdown-item-header {
          background-color: #363840;
          .icon-dropdown {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
        .table-dropdown-item-body {
          display: block;
        }
      }
      &-header {
        width: 100%;
        padding: 8px;
        height: 32px;
        line-height: 18px;
        cursor: pointer;
      }
      &-body {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #363840;
        display: none;
        z-index: 10;
        &-link {
          display: block;
          padding: 8px;
          height: 32px;
          color: #C2C3C6;
          line-height: 15px;
          &:hover {
            background-color: #2C2D33;
            color: $color_white;
            
          }
        }
      }
    }
    &-text {
      color: #848588;
      font-size: 12px;
      line-height: 14px;
    }
  }
  &-orders {
    .block-info-table {
      .table-heading {
        background-color: #212226;
        .tr {
          .td {
            color: #848588;
            font-size: 11px;
            text-transform: uppercase;
            line-height: 26px;
            text-align: center;
            padding: 0 8px;
            height: 28px;
            position: relative;
            &:not(:last-child) {
              &:after {
                content: '';
                position: absolute;
                top: 6px;
                right: 0;
                width: 1px;
                height: 16px;
                display: block;
                background: #363840;
              }
            }
          }
        }
      }
      .table-body {
        .tr {
          &:nth-child(even) {
            background-color: #212226;
          }
          background-color: #1a1a1d;
          .td {
            text-align: center;
            color: #C2C3C6;
            font-size: 12px;
            line-height: 16px;
            padding: 4px ;
          }
          .td-value{
            opacity: 0.5;
          }
          .td-close{
            opacity: 0.5;
            &:hover{
              opacity: 1;
            }
          }
          
          .td-toggle {
            
            text-align: center;
            color: $color_white;
            span{
              opacity: 0.5;
            }
          }
        }
        .tr-open-next{
          .td-arrow{
            opacity: 0.5;
          }
          &:hover{
            .td-arrow{
              opacity: 1;
            }
          }
          &.open{
            .icon-arrow-toggle{
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
            }
          }
          .icon-arrow-toggle{
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
          }
        }
        
      }
      .status {
        width: 285px;
        &-info {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
        
      }
    }
  }
  
}
