.tabs-header-account {
	background-color: #212226;
	border-top: 1px solid #38393d;
	border-bottom: 1px solid #38393d;
		.nav-tabs {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			li {
				width: 25%;
				line-height: 60px;
				border-bottom: 2px solid #212226;
				a {
					width: 100%;
					color: rgba(255, 255, 255, 0.6);
					font-size: 14px;
					font-weight: 500;
					letter-spacing: 1.25px;
					line-height: 58px;
					text-align: center;
					display: block;
					text-transform: uppercase;
				}
				&.active{
					border-bottom: 2px solid #427ECF;
					a {
						color: #427ECF;
					}
				}
			}
		}
}