.tab-content {
	width: 100%;
	.tab-pane {
		display: none;
		padding-top: 40px;
		padding-bottom: 20px;
		&.active {
			display: block;
		}
		&-name {
			color: rgba(255, 255, 255, 0.87);
			font-size: 24px;
			line-height: 28px;
			padding-bottom: 20px;
		}
		&-header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
		&-filter {
			display: flex;
			flex-direction: row;
			justify-content: end;
			align-items: center;
			&-item {
				padding-left: 10px;
				span {
					color: rgba(255, 255, 255, 0.87);
				}
				&.active {
					.icon-arrow-toggle {
						-webkit-transform: rotate(180deg);
						transform: rotate(180deg);
					}
				}
			}
		}
		&-info {
			&-title {
				color: rgba(255, 255, 255, 0.87);
				font-size: 16px;
				letter-spacing: 0.5px;
				line-height: 28px;
				padding-bottom: 22px;
			}
			&-load {
				max-width: 480px;
				height: 4px;
				position: relative;
				margin-bottom: 14px;
				&-value {
					position: absolute;
					top: 0;
					left: 0;
					height: 4px;
				}
				&.green {
					background-color: rgba(0, 210, 128, 0.2);
					.tab-pane-info-load-value {
						background-color: #00D280;
					}
				}
				&.red {
					background-color: rgba(245, 72, 101, 0.2);
					.tab-pane-info-load-value {
						background-color: #F54865;
					}
				}
			}
			&-text {
				color: rgba(255, 255, 255, 0.87);
				font-size: 14px;
				letter-spacing: 0.25px;
				line-height: 20px;
				padding-bottom: 22px;
			}
		}
	}
}