.table-profile-tab {
	.block-account-item {
		align-items: start;
	}
	
	.block-account-item-password {
		&-name {
			color: rgba(255, 255, 255, 0.87);
			font-size: 20px;
			font-weight: 500;
			letter-spacing: 0.25px;
			line-height: 26px;
			padding-bottom: 20px;
		}
		width: 40%;
	}
	.box-control {
		padding-bottom: 20px;
		position: relative;
		.label {
			color: $color_white;
			font-size: 12px;
			letter-spacing: 0.3px;
			line-height: 22px;
			padding-left: 10px;
		}
		.form-control {
			color: $color_white;
			font-size: 16px;
			letter-spacing: 0.15px;
			line-height: 24px;
			padding: 16px;
			border-radius: 4px;
			height: 56px;
			background: transparent;
			border: 1px solid rgba(255, 255, 255, 0.32);
			overflow: hidden;
		}
		a {
			position: absolute;
			right: 0;
			bottom: 24px;
			padding: 8px;
		}
	}
	.btn {
		padding: 16px;
		border-radius: 4px;
		height: 56px;
		line-height: 28px;
		width: 100%;
		max-width: 240px;
		letter-spacing: 1.25px;
		font-weight: bold;
	}
	.block-account-item-box {
		width: 100%;
		&-text {
			color: rgba(255, 255, 255, 0.87);
			font-size: 16px;
			letter-spacing: 0.5px;
			line-height: 28px;
			padding-bottom: 36px;
		}
		&-steps {
			padding-bottom: 20px;
			&-title {
				color: rgba(255, 255, 255, 0.87);
				font-size: 20px;
				font-weight: 500;
				letter-spacing: 0.25px;
				line-height: 26px;
				padding-bottom: 20px;
			}
			&-two{
				.box-control {
					position: relative;
					margin-bottom: 20px;
					max-width: 540px;
					.label {
						color: rgba(255, 255, 255, 0.6);
						font-size: 14px;
						letter-spacing: 0.25px;
						line-height: 20px;
						padding-bottom: 12px;
					}
					.form-control {
						color: rgba(255, 255, 255, 0.87);
						font-size: 16px;
						letter-spacing: 0.5px;
						line-height: 28px;
						border-bottom: 1px solid #38393d;
						background: transparent !important;
						height: auto;
						border-left: 0;
						border-right: 0;
						border-top: 0;
						padding: 0;
						
					}
					a {
						position: absolute;
						right: 0;
						bottom: 20px;
						width: 65px;
						color: #4A90E2;
						font-size: 14px;
						font-weight: 500;
						letter-spacing: 1.25px;
						line-height: 16px;
						&.copy{
							right: 65px;
						}
					}
				}
			}
			&-qr{
				display: flex;
				flex-direction: row;
				justify-content: start;
				align-items: center;
				&-mail{
					padding-left: 34px;
					.box-control{
						width: 320px;
					}
				}
			}
			
		}
	}
}