.trader {
	margin-bottom: 4px;
	&.open {
		.icon-arrow-toggle {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
	}
	&_header {
		background-color: #212226;
		padding: 8px 2px;
		color: $color_white;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 16px;
		.icon-arrow-toggle {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
	&_body {
		background-color: #212226;
		&-value {
			
			height: auto;
			overflow: hidden;
			&-item {
				font-size: 12px;
				line-height: 18px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: 4px 10px;
				position: relative;
				color: #c2c3c6;
				&:first-child {
					font-size: 11px;
					padding: 6px 10px;
					text-transform: uppercase;
					& > div {
						color: #848588;
						text-align: center;
						&:not(:last-child) {
							border-right: 1px solid #363840;
						}
						&:first-child {
							padding-left: 0;
						}
					}
				}
				& > div {
					width: 33%;
				}
				.after{
					display: none;
				}
				&-red {
					.trader_body-value-item-pair {
						color: #f54865;
					}
					.after {
						content: '';
						position: absolute;
						right: 0;
						top: 0;
						height: 100%;
						background: rgba(245, 72, 101, 0.15);
						z-index: 0;
						display: block;
					}
				}
				&-green {
					.trader_body-value-item-pair {
						color: #00d280;
					}
					.after {
						position: absolute;
						right: 0;
						top: 0;
						width: 50%;
						height: 100%;
						background: rgba(0, 210, 128, 0.15);
						z-index: 0;
						display: block;
					}
				}
				&-pair {
					padding-left: 14px;
					span {
						&.price-opacity {
							opacity: 0.5;
						}
					}
				}
				&-price {
					text-align: right;
					span {
						padding-right: 22px;
					}
				}
				&-change {
					text-align: right;
					span {
						padding-right: 20px;
						opacity: 0.7;
					}
				}
				&-stroke {
					padding: 8px 10px;
				}
				&-title {
					font-size: 14px;
					line-height: 16px;
					font-weight: bold;
					width: 45% !important;
				}
				&-text {
					font-size: 14px;
					line-height: 16px;
					width: 45% !important;
					
					span {
						opacity: 0.7;
					}
				}
			}
		}
	}
}