<section class="block-markets">
	<div class="block-markets-title">Markets</div>
	<div class="block-markets-value">
		<div class="block-markets-value-item">
			<div class="block-markets-value-item-top">
				<div class="block-markets-value-item-top-text">
					<i class="icon icon-btc"></i>
					BTC <span> USD</span>
				</div>
				<div class="block-markets-value-item-top-text red">$ 8,2117.00</div>
			</div>
			<div class="block-markets-value-item-center">
				<img src="images/graphic.png" alt="">
			</div>
			<div class="block-markets-value-item-bottom">
				<div class="block-markets-value-item-bottom-text"><span>Volume: </span>14.3441 BTC</div>
				<div class="block-markets-value-item-bottom-text">
					<i class="icon icon-arrow-top"></i>
					<span class="green">0.08%</span> (0.2234)
				</div>
			</div>
		</div>
		<div class="block-markets-value-item">
			<div class="block-markets-value-item-top">
				<div class="block-markets-value-item-top-text">
					<i class="icon icon-eth"></i>
					ETH <span> USD</span>
				</div>
				<div class="block-markets-value-item-top-text green">$ 8,2117.00</div>
			</div>
			<div class="block-markets-value-item-center">
				<img src="images/graphic.png" alt="">
			</div>
			<div class="block-markets-value-item-bottom">
				<div class="block-markets-value-item-bottom-text"><span>Volume: </span>14.3441 BTC</div>
				<div class="block-markets-value-item-bottom-text">
					<i class="icon icon-arrow-top"></i>
					<span class="green">0.08%</span> (0.2234)
				</div>
			</div>
		</div>
		<div class="block-markets-value-item">
			<div class="block-markets-value-item-top">
				<div class="block-markets-value-item-top-text">
					<i class="icon icon-ltc"></i>
					LTC <span> USD</span>
				</div>
				<div class="block-markets-value-item-top-text red">$ 8,2117.00</div>
			</div>
			<div class="block-markets-value-item-center">
				<img src="images/graphic.png" alt="">
			</div>
			<div class="block-markets-value-item-bottom">
				<div class="block-markets-value-item-bottom-text"><span>Volume: </span>14.3441 BTC</div>
				<div class="block-markets-value-item-bottom-text">
					<i class="icon icon-arrow-top"></i>
					<span class="green">0.08%</span> (0.2234)
				</div>
			</div>
		</div>
		<div class="block-markets-value-item">
			<div class="block-markets-value-item-top">
				<div class="block-markets-value-item-top-text">
					<i class="icon icon-ckt"></i>
					XRP <span> USD</span>
				</div>
				<div class="block-markets-value-item-top-text green">$ 8,2117.00</div>
			</div>
			<div class="block-markets-value-item-center">
				<img src="images/graphic.png" alt="">
			</div>
			<div class="block-markets-value-item-bottom">
				<div class="block-markets-value-item-bottom-text"><span>Volume: </span>14.3441 BTC</div>
				<div class="block-markets-value-item-bottom-text">
					<i class="icon icon-arrow-top"></i>
					<span class="green">0.08%</span> (0.2234)
				</div>
			</div>
		</div>
		<div class="block-markets-value-item">
			<div class="block-markets-value-item-top">
				<div class="block-markets-value-item-top-text">
					<i class="icon icon-btc"></i>
					BTC <span> USD</span>
				</div>
				<div class="block-markets-value-item-top-text red">$ 8,2117.00</div>
			</div>
			<div class="block-markets-value-item-center">
				<img src="images/graphic.png" alt="">
			</div>
			<div class="block-markets-value-item-bottom">
				<div class="block-markets-value-item-bottom-text"><span>Volume: </span>14.3441 BTC</div>
				<div class="block-markets-value-item-bottom-text">
					<i class="icon icon-arrow-top"></i>
					<span class="green">0.08%</span> (0.2234)
				</div>
			</div>
		</div>
		<div class="block-markets-value-item">
			<div class="block-markets-value-item-top">
				<div class="block-markets-value-item-top-text">
					<i class="icon icon-eth"></i>
					ETH <span> USD</span>
				</div>
				<div class="block-markets-value-item-top-text green">$ 8,2117.00</div>
			</div>
			<div class="block-markets-value-item-center">
				<img src="images/graphic.png" alt="">
			</div>
			<div class="block-markets-value-item-bottom">
				<div class="block-markets-value-item-bottom-text"><span>Volume: </span>14.3441 BTC</div>
				<div class="block-markets-value-item-bottom-text">
					<i class="icon icon-arrow-top"></i>
					<span class="green">0.08%</span> (0.2234)
				</div>
			</div>
		</div>
		<div class="block-markets-value-item">
			<div class="block-markets-value-item-top">
				<div class="block-markets-value-item-top-text">
					<i class="icon icon-ltc"></i>
					LTC <span> USD</span>
				</div>
				<div class="block-markets-value-item-top-text red">$ 8,2117.00</div>
			</div>
			<div class="block-markets-value-item-center">
				<img src="images/graphic.png" alt="">
			</div>
			<div class="block-markets-value-item-bottom">
				<div class="block-markets-value-item-bottom-text"><span>Volume: </span>14.3441 BTC</div>
				<div class="block-markets-value-item-bottom-text">
					<i class="icon icon-arrow-top"></i>
					<span class="green">0.08%</span> (0.2234)
				</div>
			</div>
		</div>
		<div class="block-markets-value-item">
			<div class="block-markets-value-item-top">
				<div class="block-markets-value-item-top-text">
					<i class="icon icon-ckt"></i>
					XRP <span> USD</span>
				</div>
				<div class="block-markets-value-item-top-text green">$ 8,2117.00</div>
			</div>
			<div class="block-markets-value-item-center">
				<img src="images/graphic.png" alt="">
			</div>
			<div class="block-markets-value-item-bottom">
				<div class="block-markets-value-item-bottom-text"><span>Volume: </span>14.3441 BTC</div>
				<div class="block-markets-value-item-bottom-text">
					<i class="icon icon-arrow-top"></i>
					<span class="green">0.08%</span> (0.2234)
				</div>
			</div>
		</div>
	</div>
	<div class="block-markets-filter">
		<div class="block-markets-filter-text">Bitcoin markets</div>
		<div class="block-markets-filter-search">
			<div class="box-control">
				<label class="label"></label>
				<input type="text" placeholder="Search" value="" class="form-control ">
				<i class="icon icon-search"></i>
			</div>
		</div>
	</div>
	<div class="block-markets-table">
		<table class="table">
			<thead class="table-header">
			<tr class="tr">
				<th class="td  text-left">Market</th>
				<th class="td text-left">Currency</th>
				<th class="td text-right">Volume</th>
				<th class="td text-right">% Change</th>
				<th class="td text-right">Last price</th>
				<th class="td text-right">24h high</th>
				<th class="td text-right">24h low</th>
				<th class="td text-right">% Spread</th>
			</tr>
			</thead>
			<tbody class="table-body">
			<tr class="tr">
				<td class="td text-left">BTC/ZRX</td>
				<td class="td text-left">TRON</td>
				<td class="td text-right">1,122.34</td>
				<td class="td text-right">
					<i class="icon icon-arrow-top"></i> <span class="green">0.51</span>
				</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.1</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC/ZRX</td>
				<td class="td text-left">TRON</td>
				<td class="td text-right">1,122.34</td>
				<td class="td text-right">
					<i class="icon icon-arrow-top"></i> <span class="green">0.51</span>
				</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.1</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC/ZRX</td>
				<td class="td text-left">TRON</td>
				<td class="td text-right">1,122.34</td>
				<td class="td text-right">
					<i class="icon icon-arrow-top"></i> <span class="green">0.51</span>
				</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.1</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC/ZRX</td>
				<td class="td text-left">TRON</td>
				<td class="td text-right">1,122.34</td>
				<td class="td text-right">
					<i class="icon icon-arrow-top"></i> <span class="green">0.51</span>
				</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.1</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC/ZRX</td>
				<td class="td text-left">TRON</td>
				<td class="td text-right">1,122.34</td>
				<td class="td text-right">
					<i class="icon icon-arrow-bottom"></i> <span class="red">0.51</span>
				</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.1</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC/ZRX</td>
				<td class="td text-left">TRON</td>
				<td class="td text-right">1,122.34</td>
				<td class="td text-right">
					<i class="icon icon-arrow-top"></i> <span class="green">0.51</span>
				</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.1</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC/ZRX</td>
				<td class="td text-left">TRON</td>
				<td class="td text-right">1,122.34</td>
				<td class="td text-right">
					<i class="icon icon-arrow-top"></i> <span class="green">0.51</span>
				</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.1</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC/ZRX</td>
				<td class="td text-left">TRON</td>
				<td class="td text-right">1,122.34</td>
				<td class="td text-right">
					<i class="icon icon-arrow-bottom"></i> <span class="red">0.51</span>
				</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.1</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC/ZRX</td>
				<td class="td text-left">TRON</td>
				<td class="td text-right">1,122.34</td>
				<td class="td text-right">
					<i class="icon icon-arrow-top"></i> <span class="green">0.51</span>
				</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.1</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC/ZRX</td>
				<td class="td text-left">TRON</td>
				<td class="td text-right">1,122.34</td>
				<td class="td text-right">
					<i class="icon icon-arrow-top"></i> <span class="green">0.51</span>
				</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.514563446</td>
				<td class="td text-right">0.1</td>
			</tr>
			</tbody>
		</table>
		<div class="table-nav">
			<div class="table-nav-page">Rows per page: <span>10</span> <i class="icon icon-arrow-toggle"></i></div>
			<div class="table-nav-number"> <span>1-20</span> of <span>1000</span></div>
			<div class="table-nav-btn">
				<a><i class="icon icon-prev-max"></i></a>
				<a><i class="icon icon-prev"></i></a>
				<a><i class="icon icon-next"></i></a>
				<a><i class="icon icon-next-max"></i></a>
			</div>
		</div>
	</div>
</section>