<section class="market-stats">
	<div class="market-stats_header">
			<div class="market-stats_header-icon">
				<i class="icon icon-ribble"></i>
			</div>
			<div class="market-stats_header-info">
				<div class="market-stats_header-info-title">
					<span>Ripple / Bitcoin</span>
					<span>Last price</span>
				</div>
				<div class="market-stats_header-info-text">
					<span>XRPBTC</span>
					<span><i class="icon icon-arrow-top"></i> 0.001200</span>
				</div>
			</div>
	</div>
	<div class="market-stats_body">
		<div class="market-stats_body-text">
			<span>Volume 1,234.655946 BTC</span>
			<span>Low 0.000024</span>
		</div>
		<div class="market-stats_body-text">
			<span>24h <i class="icon icon-arrow-top"></i><span class="green">0.08%</span> (+28.99) </span>
			<span>High 0.000034</span>
		</div>
	</div>
</section>