<section class="markets open">
	<div class="markets_header">
		<i class="icon icon-arrow-toggle"></i>
		<span>Markets</span>
	</div>
	<div class="markets_body">
		<div class="markets_body-current">
			<div class="markets_body-current-item">
				<i class="icon icon-search"></i>
			</div>
			<div class="markets_body-current-item">
				<i class="icon icon-star"></i>
			</div>
			<div class="markets_body-current-item active">USD</div>
			<div class="markets_body-current-item">BTC</div>
			<div class="markets_body-current-item">ETH</div>
			<div class="markets_body-current-item">
				<i class="icon icon-more"></i>
			</div>
		</div>
		<div class="markets_body-value">
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">pair</div>
				<div class="markets_body-value-item-price">price</div>
				<div class="markets_body-value-item-change">change</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-top"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="green">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-bottom"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="red">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-top"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="green">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item active">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-bottom"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="red">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-top"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="green">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-bottom"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="red">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-top"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="green">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-bottom"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="red">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-top"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="green">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-bottom"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="red">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-top"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="green">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-bottom"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="red">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-top"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="green">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-bottom"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="red">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-top"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="green">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-bottom"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="red">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-top"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="green">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-bottom"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="red">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-top"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="green">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
			<div class="markets_body-value-item">
				<div class="markets_body-value-item-pair">
					<i class="icon icon-arrow-bottom"></i>
					<span>XRPBTC</span>
				</div>
				<div class="markets_body-value-item-price">
					<span>1,020.3593</span>
				</div>
				<div class="markets_body-value-item-change">
					<span class="red">+13.015%</span>
					<i class="icon icon-star"></i>
				</div>
			</div>
		</div>
	</div>
</section>