<section class="orderbook open">
	<div class="orderbook_header">
		<i class="icon icon-arrow-toggle"></i>
		<span>orderbook</span>
	</div>
	<div class="orderbook_body">
		<div class="orderbook_body-aggregation">
			<div class="orderbook_body-aggregation-info">
				<div class="orderbook_body-aggregation-info-title">
					<span>Aggregation</span> 0.10
				</div>
				<div class="box-control-button">
					<a href="/"><i class="icon icon-min"></i></a>
					<a href="/"><i class="icon icon-max"></i></a>
				</div>
			</div>
			<div class="orderbook_body-aggregation-text">
				Full orderbook
			</div>
		</div>
		<div class="orderbook_body-value">
			<div class="orderbook_body-value-item">
				<div class="orderbook_body-value-item-pair">Price BTC</div>
				<div class="orderbook_body-value-item-price">Amount XRP</div>
				<div class="orderbook_body-value-item-change">Total BTC</div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-red">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>23</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 40%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-red">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>123456</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 25%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-red">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>22</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 100%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-red">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>23</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 40%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-red">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>123456</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 25%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-red">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>22</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 100%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-red">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>23</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 40%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-red">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>123456</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 25%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-red">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>22</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 100%;"></div>
			</div>
			<!---------->
			<div class="orderbook_body-value-item orderbook_body-value-item-stroke">
				<div class="orderbook_body-value-item-title">
					<span>0.00009065</span>
					<i class="icon icon-arrow-top"></i>
				</div>
				<div class="orderbook_body-value-item-text">
					<span>USD Spread</span> $1.04
				</div>
			</div>
			<!------------->
			<div class="orderbook_body-value-item orderbook_body-value-item-green">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>23</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 33%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-green">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>12345</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 8%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-green">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>1</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 100%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-green">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>23</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 33%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-green">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>12345</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 8%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-green">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>1</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 88%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-green">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>23</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 33%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-green">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>12345</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 8%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-green">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>1</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 88%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-green">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>23</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 33%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-green">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>12345</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 8%;"></div>
			</div>
			<div class="orderbook_body-value-item orderbook_body-value-item-green">
				<div class="orderbook_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="orderbook_body-value-item-price">
					<span>1</span>
				</div>
				<div class="orderbook_body-value-item-change">
					<span class="">0.01571705</span>
				</div>
				<div class="after" style="width: 88%;"></div>
			</div>
		</div>
	</div>
</section>