<section class="sell">
	<div class="sell_header active-sell">
		<div class="sell_header-item">
			<div class="sell_header-item-text">Sell XRP</div>
			<div class="sell_header-item-value">0.00009065</div>
		</div>
		<div class="sell_header-item">
			<span class="text-min">Spread</span><br/>
			<span>0.37%</span>
		</div>
		<div class="sell_header-item">
			<div class="sell_header-item-text">Sell XRP</div>
			<div class="sell_header-item-value">0.00009065</div>
		</div>
	</div>
	<div class="sell_body">
		<div class="sell_body-item">
			<div class="sell_body-item-text">Order type</div>
			<div class="sell_body-item-value">
				<div class="sell_body-item-value-tab">
					<div class="sell_body-item-value-tab-tabs active-tabs">Limit</div>
					<div class="sell_body-item-value-tab-tabs">Market</div>
				</div>
			</div>
		</div>
		<div class="sell_body-item">
			<div class="sell_body-item-text"></div>
			<div class="sell_body-item-value">
				<div class="sell_body-item-value-text">
					Avalible XRP <span>0.00</span>
				</div>
			</div>
		</div>
		<div class="sell_body-item">
			<div class="sell_body-item-text">Amount</div>
			<div class="sell_body-item-value">
				<div class="sell_body-item-value-form">
					<div class="box-control">
						<input type="text" placeholder="0.00" class="form-control ">
						<span class="value">BTC</span>
					</div>
				</div>
			</div>
		</div>
		<div class="sell_body-item">
			<div class="sell_body-item-text"></div>
			<div class="sell_body-item-value">
				<div class="sell_body-item-value-factor">
					<div class="sell_body-item-value-factor-item">25%</div>
					<div class="sell_body-item-value-factor-item">50%</div>
					<div class="sell_body-item-value-factor-item">75%</div>
					<div class="sell_body-item-value-factor-item">100%</div>
				</div>
			</div>
		</div>
		<div class="sell_body-item">
			<div class="sell_body-item-text">Price</div>
			<div class="sell_body-item-value">
				<div class="sell_body-item-value-form">
					<div class="box-control">
						<input type="text" placeholder="0.00" class="form-control ">
						<span class="value">BTC</span>
						<div class="box-control-button">
							<a href="/"><i class="icon icon-min"></i></a>
							<a href="/"><i class="icon icon-max"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="sell_body-item">
			<div class="sell_body-item-text">Total</div>
			<div class="sell_body-item-value">
				<div class="sell_body-item-value-form">
					<div class="box-control">
						<input type="text" placeholder="0.00" class="form-control ">
						<span class="value">BTC</span>
					</div>
				</div>
			</div>
		</div>
		<div class="box-btn">
			<a href="/" class="btn btn-red btn-full">Sell XRP</a>
		</div>
	</div>
</section>