<section class="tabs-header-account">
	<div class="container-center">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item active">
				<a class="nav-link " id="tab-general" data-toggle="tab" href="#general" role="tab" aria-controls="home"
				   aria-selected="true">General section</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="tab-access"  data-toggle="tab" href="#access" role="tab"
				   aria-controls="profile" aria-selected="false">API Access</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="tab-profile"  data-toggle="tab" href="#profile" role="tab"
				   aria-controls="contact" aria-selected="false">Profile Settings</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="tab-activity"  data-toggle="tab" href="#activity" role="tab"
				   aria-controls="contact" aria-selected="false">Activity Log</a>
			</li>

		</ul>
	</div>
</section>