<section class="tabs-header">
	<div class="container-center">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item active">
				<a class="nav-link " id="tab-balances" data-toggle="tab" href="#balances" role="tab" aria-controls="home"
				   aria-selected="true">Balances and deposits</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="tab-trading"  data-toggle="tab" href="#trading" role="tab"
				   aria-controls="profile" aria-selected="false">Trading History</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="tab-limits"  data-toggle="tab" href="#limits" role="tab"
				   aria-controls="contact" aria-selected="false">Fees and Limits</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="tab-transaction"  data-toggle="tab" href="#transaction" role="tab"
				   aria-controls="contact" aria-selected="false">Transaction History</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="tab-orders" data-toggle="tab" href="#orders" role="tab"
				   aria-controls="contact" aria-selected="false">all open orders</a>
			</li>
		</ul>
	</div>
</section>