<section class="table ">
	<div class="table-tab">
		<div class="table-tab-item active">Open orders <span>· 14</span></div>
		<div class="table-tab-item">Order history</div>
		<div class="table-tab-item">Balances</div>
	</div>
	<div class="table-dropdown">
		<div class="table-dropdown-item">
			<div class="table-dropdown-item-header">
				All markets <i class="icon icon-dropdown"></i>
			</div>
			<div class="table-dropdown-item-body">
				<a class="table-dropdown-item-body-link" href="/">markets</a>
				<a class="table-dropdown-item-body-link" href="/">markets</a>
				<a class="table-dropdown-item-body-link" href="/">markets</a>
			</div>
		</div>
		<div class="table-dropdown-text">Full order list</div>
	</div>
	<div class="table-orders">
		<table class="block-info-table">
			<thead class="table-heading">
			<tr class="tr">
				<th class="td"><i class="icon icon-market"></i> Market</th>
				<th class="td">Type</th>
				<th class="td">open tame</th>
				<th class="td">amount</th>
				<th class="td">price</th>
				<th class="td">total</th>
				<th class="td status">status</th>
				<th class="td">actions</th>

			</tr>
			</thead>
			<tbody class="table-body">
			<tr class="tr tr-open-next open">
				<td class="td td-toggle">
					<i class="icon icon-arrow-toggle"></i>
					XRPBTC
					<span>· 6</span>
				</td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td td-arrow">
					<i class="icon icon-dropdown-red"></i>
				</td>
			</tr>
			<tr class="tr">
				<td class="td td-value">
					<i class="icon icon-cons"></i>
					6868769
				</td>
				<td class="td green">Buy</td>
				<td class="td">Oct 28 2017, 4:04 AM</td>
				<td class="td">2.02937</td>
				<td class="td">1,020.3593</td>
				<td class="td">1,020.3593</td>
				<td class="td status">
					<div class="status-info">
						<div class="status-info-title">0.5554846</div>
						<div class="status-info-text">54%</div>
					</div>
				</td>
				<td class="td td-close"><i class="icon icon-close-tr"></i></td>
			</tr>
			<tr class="tr">
				<td class="td td-value">
					<i class="icon icon-cons"></i>
					6868769
				</td>
				<td class="td red">Buy</td>
				<td class="td">Oct 28 2017, 4:04 AM</td>
				<td class="td">2.02937</td>
				<td class="td">1,020.3593</td>
				<td class="td">1,020.3593</td>
				<td class="td status">
					<div class="status-info">
						<div class="status-info-title">0.5554846</div>
						<div class="status-info-text">54%</div>
					</div>
				</td>
				<td class="td td-close"><i class="icon icon-close-tr"></i></td>
			</tr>
			<tr class="tr">
				<td class="td td-value">
					<i class="icon icon-cons"></i>
					6868769
				</td>
				<td class="td green">Buy</td>
				<td class="td">Oct 28 2017, 4:04 AM</td>
				<td class="td">2.02937</td>
				<td class="td">1,020.3593</td>
				<td class="td">1,020.3593</td>
				<td class="td status">
					<div class="status-info">
						<div class="status-info-title">0.5554846</div>
						<div class="status-info-text">54%</div>
					</div>
				</td>
				<td class="td td-close"><i class="icon icon-close-tr"></i></td>

			</tr>
			<tr class="tr tr-open-next">
				<td class="td td-toggle">
					<i class="icon icon-arrow-toggle"></i>
					XRPBTC
					<span>· 3</span>
				</td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td td-arrow">
					<i class="icon icon-dropdown-red"></i>
				</td>
			</tr>
			<tr class="tr tr-open-next">
				<td class="td td-toggle">
					<i class="icon icon-arrow-toggle"></i>
					XRPBTC
					<span>· 5</span>
				</td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td td-arrow">
					<i class="icon icon-dropdown-red"></i>
				</td>
			</tr>
			<tr class="tr tr-open-next">
				<td class="td td-toggle">
					<i class="icon icon-arrow-toggle"></i>
					XRPBTC
					<span>· 1</span>
				</td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td"></td>
				<td  class="td td-arrow">
					<i class="icon icon-dropdown-red"></i>
				</td>
			</tr>

			</tbody>
		</table>
	</div>
</section>