<section class="table-activity-tab">
	<div class="table-activity-tab-item">
		<div class="table-activity-tab-item-header">
			<div class="table-activity-tab-item-header-info">
				<div class="table-activity-tab-item-header-info-text bg-green">
					text text text
				</div>
				<div class="table-activity-tab-item-header-info-api">
					IP: 123:123:1223
				</div>
			</div>
			<div class="table-activity-tab-item-header-date">
				2018-12-12 13:14 +3:00
			</div>
		</div>
		<div class="table-activity-tab-item-body">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet atque cupiditate deleniti dolorum
			ipsam laboriosam molestiae natus nemo perferendis quibusdam saepe suscipit tempore, ullam unde vel veniam
			voluptate voluptatum.
		</div>
		<div class="table-activity-tab-item-icon">
			<i class="icon icon-item-activity icon-star"></i>
		</div>
	</div>
	<div class="table-activity-tab-item">
		<div class="table-activity-tab-item-header">
			<div class="table-activity-tab-item-header-info">
				<div class="table-activity-tab-item-header-info-text bg-red">
					text text text
				</div>
				<div class="table-activity-tab-item-header-info-api">
					IP: 123:123:1223
				</div>
			</div>
			<div class="table-activity-tab-item-header-date">
				2018-12-12 13:14 +3:00
			</div>
		</div>
		<div class="table-activity-tab-item-body">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet atque cupiditate deleniti dolorum
			ipsam laboriosam molestiae natus nemo perferendis quibusdam saepe suscipit tempore, ullam unde vel veniam
			voluptate voluptatum.
		</div>
		<div class="table-activity-tab-item-icon">
			<i class="icon icon-item-activity icon-star"></i>
		</div>
	</div>

	<div class="table-activity-tab-item">
		<div class="table-activity-tab-item-header">
			<div class="table-activity-tab-item-header-info">
				<div class="table-activity-tab-item-header-info-text bg-grey">
					text text text
				</div>
				<div class="table-activity-tab-item-header-info-api">
					IP: 123:123:1223
				</div>
			</div>
			<div class="table-activity-tab-item-header-date">
				2018-12-12 13:14 +3:00
			</div>
		</div>
		<div class="table-activity-tab-item-body">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet atque cupiditate deleniti dolorum
			ipsam laboriosam molestiae natus nemo perferendis quibusdam saepe suscipit tempore, ullam unde vel veniam
			voluptate voluptatum.
		</div>
		<div class="table-activity-tab-item-icon">
			<i class="icon icon-item-activity icon-star"></i>
		</div>
	</div>

	<div class="table-activity-tab-item">
		<div class="table-nav">
			<div class="table-nav-page">Rows per page: <span>10</span> <i class="icon icon-arrow-toggle"></i></div>
			<div class="table-nav-number"> <span>1-20</span> of <span>1000</span></div>
			<div class="table-nav-btn">
				<a><i class="icon icon-prev-max"></i></a>
				<a><i class="icon icon-prev"></i></a>
				<a><i class="icon icon-next"></i></a>
				<a><i class="icon icon-next-max"></i></a>
			</div>
		</div>
	</div>
</section>