<section class="table-balance-tab">
	<div class="table-balance-tab-header">
		<div class="table-balance-tab-header-search">
			<div class="box-control">
				<input type="text" placeholder="" class="form-control ">
				<i class="icon icon-search"></i>
			</div>
		</div>
		<div class="table-balance-tab-header-filter">
			<div class="box-checkbox">
				<input type="checkbox" id="checkbox1">
				<label for="checkbox1">Hide 0 Balances</label>
			</div>
			<div class="box-checkbox">
				<input type="checkbox" id="checkbox2">
				<label for="checkbox2">Hide Delisted</label>
			</div>
		</div>
	</div>
	<div class="table-balance-tab-body">
		<table class="table-balance">
			<thead class="table-balance-header">
			<tr class="tr">
				<th class="td text-left">Coin</th>
				<th class="td text-left">Name</th>
				<th class="td text-right">Total Balance</th>
				<th class="td text-right">On Orders</th>
				<th class="td text-right">BTC Value</th>
				<th class="td td-actions text-center">Actions</th>
			</tr>
			</thead>
			<tbody class="table-balance-body">
			<tr class="tr">
				<td class="td text-left">BTC</td>
				<td class="td text-left">Bitcoin</td>
				<td class="td text-right">0.015447811</td>
				<td class="td text-right">0.000000000</td>
				<td class="td text-right">0.015447811</td>
				<td class="td td-actions text-center">
					<div class="td-actions-btn">
						<div class="btn">
							<i class="icon icon-donwload"></i>
							Deposit
						</div>
						<div class="btn">
							<i class="icon icon-donwload-top"></i>
							Withdrawal
						</div>
					</div>
				</td>
			</tr>
			<tr class="tr open-next-tr">
				<td class="td text-left">BTC</td>
				<td class="td text-left">Bitcoin</td>
				<td class="td text-right">0.015447811</td>
				<td class="td text-right">0.000000000</td>
				<td class="td text-right">0.015447811</td>
				<td class="td td-actions text-center">
					<div class="td-actions-btn">
						<div class="btn ">
							<i class="icon icon-donwload"></i>
							Deposit
						</div>
						<div class="btn open">
							<i class="icon icon-donwload-top"></i>
							Withdrawal
						</div>
					</div>
				</td>

			</tr>
			<tr class="tr open-tr">
				<td colspan="6">
					<div class="add-info">
						<div class="add-info-header">
							<div class="add-info-header-text">
								You have 39800.38325977 DOGE avaliable for Withdrawal. 0.000000000 DOGE is held <a
									href="/">on orders</a>
							</div>
							<div class="add-info-header-text">
								Transaction Fee:
								<span>-5.000000000</span>
							</div>
						</div>
						<div class="add-info-body">
							<div class="add-info-body-item">
								<div class="box-control">
									<label class="label">Address</label>
									<input type="text" value="0x132b0ce657a36b6e16b1e0c82874e638" class="form-control ">
								</div>
							</div>
							<div class="add-info-body-item">
								<div class="box-control">
									<label class="label">Am</label>
									<input type="text" value="0.2212345678" class="form-control ">
								</div>
							</div>
							<div class="add-info-body-item">
								<div class="box-control">
									<label class="label">2F</label>
									<input type="text" value="345678" class="form-control ">
								</div>
							</div>
							<div class="add-info-body-item">
								<a class="btn btn-blue" data-toggle="modal" data-target="#modal-two">WITHDRAWAL</a>
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC</td>
				<td class="td text-left">Bitcoin</td>
				<td class="td text-right">0.015447811</td>
				<td class="td text-right">0.000000000</td>
				<td class="td text-right">0.015447811</td>
				<td class="td td-actions text-center">
					<div class="td-actions-btn">
						<div class="btn">
							<i class="icon icon-donwload"></i>
							Deposit
						</div>
						<div class="btn">
							<i class="icon icon-donwload-top"></i>
							Withdrawal
						</div>
					</div>
				</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC</td>
				<td class="td text-left">Bitcoin</td>
				<td class="td text-right">0.015447811</td>
				<td class="td text-right">0.000000000</td>
				<td class="td text-right">0.015447811</td>
				<td class="td td-actions text-center">
					<div class="td-actions-btn">
						<div class="btn">
							<i class="icon icon-donwload"></i>
							Deposit
						</div>
						<div class="btn">
							<i class="icon icon-donwload-top"></i>
							Withdrawal
						</div>
					</div>
				</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC</td>
				<td class="td text-left">Bitcoin</td>
				<td class="td text-right">0.015447811</td>
				<td class="td text-right">0.000000000</td>
				<td class="td text-right">0.015447811</td>
				<td class="td td-actions text-center">
					<div class="td-actions-btn">
						<div class="btn">
							<i class="icon icon-donwload"></i>
							Deposit
						</div>
						<div class="btn">
							<i class="icon icon-donwload-top"></i>
							Withdrawal
						</div>
					</div>
				</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC</td>
				<td class="td text-left">Bitcoin</td>
				<td class="td text-right">0.015447811</td>
				<td class="td text-right">0.000000000</td>
				<td class="td text-right">0.015447811</td>
				<td class="td td-actions text-center">
					<div class="td-actions-btn">
						<div class="btn">
							<i class="icon icon-donwload"></i>
							Deposit
						</div>
						<div class="btn">
							<i class="icon icon-donwload-top"></i>
							Withdrawal
						</div>
					</div>
				</td>
			</tr>
			<tr class="tr open-next-tr">
				<td class="td text-left">BTC</td>
				<td class="td text-left">Bitcoin</td>
				<td class="td text-right">0.015447811</td>
				<td class="td text-right">0.000000000</td>
				<td class="td text-right">0.015447811</td>
				<td class="td td-actions text-center">
					<div class="td-actions-btn">
						<div class="btn open">
							<i class="icon icon-donwload"></i>
							Deposit
						</div>
						<div class="btn ">
							<i class="icon icon-donwload-top"></i>
							Withdrawal
						</div>
					</div>
				</td>

			</tr>
			<tr class="tr open-tr">
				<td colspan="6">
					<div class="add-info add-info-deposit">
						<div class="add-info-header">
							<div class="add-info-header-item">
								<div class="box-control">
									<label class="label">Your Dogecoin</label>
									<input type="text" value="0x132b0ce657a36b6e16b1e0c82874e638" class="form-control ">
								</div>
							</div>
							<div class="add-info-header-item">
								<a><i class="icon icon-copy"></i>
									copy</a>
							</div>
							<div class="add-info-header-item">
								<a>
									<i class="icon icon-refresh"></i>
									refresh
								</a>


							</div>
						</div>
						<div class="add-info-body">
							<div class="add-info-body-text">
								After making a deposit you can track its progress on the <a href="/">Deposits & Withdrawals History page </a>
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC</td>
				<td class="td text-left">Bitcoin</td>
				<td class="td text-right">0.015447811</td>
				<td class="td text-right">0.000000000</td>
				<td class="td text-right">0.015447811</td>
				<td class="td td-actions text-center">
					<div class="td-actions-btn">
						<div class="btn">
							<i class="icon icon-donwload"></i>
							Deposit
						</div>
						<div class="btn">
							<i class="icon icon-donwload-top"></i>
							Withdrawal
						</div>
					</div>
				</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC</td>
				<td class="td text-left">Bitcoin</td>
				<td class="td text-right">0.015447811</td>
				<td class="td text-right">0.000000000</td>
				<td class="td text-right">0.015447811</td>
				<td class="td td-actions text-center">
					<div class="td-actions-btn">
						<div class="btn">
							<i class="icon icon-donwload"></i>
							Deposit
						</div>
						<div class="btn">
							<i class="icon icon-donwload-top"></i>
							Withdrawal
						</div>
					</div>
				</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC</td>
				<td class="td text-left">Bitcoin</td>
				<td class="td text-right">0.015447811</td>
				<td class="td text-right">0.000000000</td>
				<td class="td text-right">0.015447811</td>
				<td class="td td-actions text-center">
					<div class="td-actions-btn">
						<div class="btn">
							<i class="icon icon-donwload"></i>
							Deposit
						</div>
						<div class="btn">
							<i class="icon icon-donwload-top"></i>
							Withdrawal
						</div>
					</div>
				</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC</td>
				<td class="td text-left">Bitcoin</td>
				<td class="td text-right">0.015447811</td>
				<td class="td text-right">0.000000000</td>
				<td class="td text-right">0.015447811</td>
				<td class="td td-actions text-center">
					<div class="td-actions-btn">
						<div class="btn">
							<i class="icon icon-donwload"></i>
							Deposit
						</div>
						<div class="btn">
							<i class="icon icon-donwload-top"></i>
							Withdrawal
						</div>
					</div>
				</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC</td>
				<td class="td text-left">Bitcoin</td>
				<td class="td text-right">0.015447811</td>
				<td class="td text-right">0.000000000</td>
				<td class="td text-right">0.015447811</td>
				<td class="td td-actions text-center">
					<div class="td-actions-btn">
						<div class="btn">
							<i class="icon icon-donwload"></i>
							Deposit
						</div>
						<div class="btn">
							<i class="icon icon-donwload-top"></i>
							Withdrawal
						</div>
					</div>
				</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC</td>
				<td class="td text-left">Bitcoin</td>
				<td class="td text-right">0.015447811</td>
				<td class="td text-right">0.000000000</td>
				<td class="td text-right">0.015447811</td>
				<td class="td td-actions text-center">
					<div class="td-actions-btn">
						<div class="btn">
							<i class="icon icon-donwload"></i>
							Deposit
						</div>
						<div class="btn">
							<i class="icon icon-donwload-top"></i>
							Withdrawal
						</div>
					</div>
				</td>
			</tr>
			<tr class="tr">
				<td class="td text-left">BTC</td>
				<td class="td text-left">Bitcoin</td>
				<td class="td text-right">0.015447811</td>
				<td class="td text-right">0.000000000</td>
				<td class="td text-right">0.015447811</td>
				<td class="td td-actions text-center">
					<div class="td-actions-btn">
						<div class="btn">
							<i class="icon icon-donwload"></i>
							Deposit
						</div>
						<div class="btn">
							<i class="icon icon-donwload-top"></i>
							Withdrawal
						</div>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="table-balance-tab-footer">
		<div class="table-balance-tab-footer-item">
			<span>Table data filtered. </span> <a href="/">Clear filters</a>
		</div>
		<div class="table-balance-tab-footer-item">
			<span>Looking for your</span> <a href="/">Deposits & Withdrawals History?</a>
		</div>
	</div>
</section>





