<section class="table-profile-tab">
	<div class="block-account">
		<div class="block-account-item">
			<div class="block-account-item-password">
				<div class="block-account-item-password-name">Change Password</div>
				<div class="box-control">
					<label class="label">Email</label>
					<input type="text" value="username@domain.com" class="form-control ">
				</div>
				<div class="box-control">
					<label class="label">Create</label>
					<input type="password" value="12345" class="form-control ">
					<a><i class="icon icon-see"></i></a>
				</div>
				<div class="box-control">
					<label class="label">Confirm</label>
					<input type="password" value="12345" class="form-control ">
					<a><i class="icon icon-see"></i></a>

				</div>
				<div class="box-control">
					<label class="label">Enter 2FA</label>
					<input type="text" value="" class="form-control ">
				</div>
				<div class="box-btn">
					<a class="btn btn-blue" data-toggle="modal" data-target="#modal">CHANGE PASSWORD</a>
				</div>
			</div>
			<div class="block-account-item-password">
				<div class="block-account-item-password-name">Request Email Change</div>
				<div class="box-control">
					<label class="label">Email</label>
					<input type="text" value="username@domain.com" class="form-control ">
				</div>
				<div class="box-control">
					<label class="label">Enter 2FA</label>
					<input type="text" value="" class="form-control ">
				</div>
				<div class="box-btn">
					<a class="btn btn-blue">REQUEST CHANGE</a>
				</div>
			</div>
		</div>
	</div>
	<div class="block-account-name">Two-Factor Authentication</div>
	<div class="block-account-status">Status: <span class="blue">Active</span></div>
	<div class="block-account-status">Status: <span class="red">Inactive</span></div>
	<div class="block-account">
		<div class="block-account-item">
			<div class="block-account-item-box">
				<div class="block-account-item-box-text">
					For security purposes we highly recommend to enable Two-Factor Authentication on your account to keep your funds safe.
				</div>
				<div class="block-account-item-box-steps">
					<div class="block-account-item-box-steps-title">1. Downland and Install app</div>
					<div class="block-account-item-box-steps-donwload">
						<a href="">
							<img src="images/app_store.png" alt="">
						</a>
						<a href="">
							<img src="images/goodle.png" alt="">
						</a>
					</div>
				</div>
				<div class="block-account-item-box-steps">
					<div class="block-account-item-box-steps-title">2. Downland or Copy 2nd backup key</div>
					<div class="block-account-item-box-steps-two">
						<div class="box-control">
							<label class="label">Backup key</label>
							<input type="text" value="892475irhgijkldehswg98457892475irhgijkldehswg" class="form-control ">
							<a class="copy" href="/">COPY</a>
							<a class="save" href="/">SAVE</a>
						</div>
					</div>
				</div>
				<div class="block-account-item-box-steps">
					<div class="block-account-item-box-steps-title">3. Scan QR code</div>
					<div class="block-account-item-box-steps-qr">
						<div class="block-account-item-box-steps-qr-img">
							<img src="images/qr.png" alt="">
						</div>
						<div class="block-account-item-box-steps-qr-mail">
							<div class="box-control">
								<label class="label">Email</label>
								<input type="text" value="" class="form-control ">
							</div>
							<div class="box-btn">
								<a class="btn btn-blue">CHANGE PASSWORD</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>