<div class="tab-content">
	<div class="tab-pane fade active" id="balances" role="tabpanel" aria-labelledby="tab-balances">
		<div class="tab-pane-header">
			<div class="tab-pane-name">Balances and deposits</div>
			<div class="tab-pane-filter"></div>
		</div>
		<div class="tab-pane-info">
			<div class="tab-pane-info-title">
				Estimated value of holdings: $553.41 USD/0.06762219 BTC
			</div>
			<div class="tab-pane-info-load green">
				<div class="tab-pane-info-load-value" style="width: 75%;"></div>
			</div>
			<div class="tab-pane-info-text">$20,000.00 remaining  of $25,000.00 <a href="/"> daily limit</a></div>
		</div>
		<div class="tab-pane-body">
			{% include "blocks/block/_table-balance-tab.html" %}


		</div>
	</div>
	<div class="tab-pane fade" id="trading" role="tabpanel" aria-labelledby="tab-trading">
		<div class="tab-pane-header">
			<div class="tab-pane-name">
				Trading History
			</div>
			<div class="tab-pane-filter">
				<a class="tab-pane-filter-item">
					<span>Pain</span> <i class="icon icon-arrow-toggle"></i>
				</a>
				<a class="tab-pane-filter-item">
					<span>Order Type</span> <i class="icon icon-arrow-toggle"></i>
				</a>
				<a class="tab-pane-filter-item active">
					<span>Select date range</span> <i class="icon icon-arrow-toggle"></i>
				</a>
			</div>
		</div>
		<div class="tab-pane-body">
			{% include "blocks/block/_table-trading-tab.html" %}
		</div>

	</div>
	<div class="tab-pane fade" id="limits" role="tabpanel" aria-labelledby="tab-limits">
		<div class="tab-pane-header">
			<div class="tab-pane-name">Fees and Limits</div>
			<div class="tab-pane-filter"></div>
		</div>
		<div class="tab-pane-body">
			{% include "blocks/block/_table-limits-tab.html" %}

		</div>

	</div>
	<div class="tab-pane fade" id="transaction" role="tabpanel" aria-labelledby="tab-transaction">
		<div class="tab-pane-header">
			<div class="tab-pane-name">Transaction History</div>
			<div class="tab-pane-filter"></div>
		</div>
		<div class="tab-pane-body">

		</div>

	</div>
	<div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="tab-orders">
		<div class="tab-pane-header">
			<div class="tab-pane-name"> All Open Orders
			</div>
			<div class="tab-pane-filter">
				<a class="tab-pane-filter-item">
					<span>Pain</span> <i class="icon icon-arrow-toggle"></i>
				</a>
			</div>
		</div>
		<div class="tab-pane-body">
			{% include "blocks/block/_table-orders-tab.html" %}
		</div>

	</div>
</div>
