<div class="tab-content-account" >
	<div class="tab-pane fade active" id="general" role="tabpanel" aria-labelledby="tab-general">
		<div class="tab-pane-header">
			<div class="tab-pane-name">Account overview</div>
		</div>
		<div class="tab-pane-info">
			<div class="tab-pane-info-text">Last login: IP 37.17.31.92, Location Belarus, Time stamp 13.08 <a href="/"> Activity Log</a></div>
		</div>
		<div class="tab-pane-body">
			{% include "blocks/block/_table-general-tab.html" %}
		</div>
	</div>
	<div class="tab-pane fade" id="access" role="tabpanel" aria-labelledby="tab-access">
		<div class="tab-pane-header">
			<div class="tab-pane-name">
				API Access
			</div>
		</div>
		<div class="tab-pane-body">
			{% include "blocks/block/_table-api-tab.html" %}
		</div>

	</div>
	<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="tab-profile">
		<div class="tab-pane-header">
			<div class="tab-pane-name">Profile Settings</div>
		</div>
		<div class="tab-pane-body">
			{% include "blocks/block/_table-profile-tab.html" %}

		</div>

	</div>
	<div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="tab-activity">
		<div class="tab-pane-header">
			<div class="tab-pane-name">Activity Log</div>
			<div class="tab-pane-filter">
				<a class="tab-pane-filter-item">
					<span>Activity Type</span> <i class="icon icon-arrow-toggle"></i>
				</a>
				<a class="tab-pane-filter-item active">
					<span>Select date range</span> <i class="icon icon-arrow-toggle"></i>
				</a>
			</div>
		</div>
		<div class="tab-pane-body">
			{% include "blocks/block/_table-activity-tab.html" %}

		</div>

	</div>

</div>
