<table class="table-orders-tab">
	<thead class="table-orders-tab-header">
	<tr class="tr">

		<th class="td">Order ID</th>
		<th class="td">Pair</th>
		<th class="td text-center">Type</th>
		<th class="td text-right">Fee</th>
		<th class="td text-right">Amount</th>
		<th class="td text-right">Amount matched</th>
		<th class="td">Status</th>
		<th class="td"> Date/Time</th>
	</tr>
	</thead>
	<tbody class="table-orders-tab-body">
	<tr class="tr">
		<td class="td">87305-2223</td>
		<td class="td">XPR/ETH</td>
		<td class="td text-center green">Limit Buy</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">78.4</td>
		<td class="td">Fully executed</td>
		<td class="td">Oct 28 2017, 4:04 AM</td>
	</tr>
	<tr class="tr">
		<td class="td">87305-2223</td>
		<td class="td">XPR/ETH</td>
		<td class="td text-center green">Limit Buy</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">78.4</td>
		<td class="td">Fully executed</td>
		<td class="td">Oct 28 2017, 4:04 AM</td>
	</tr>
	<tr class="tr">
		<td class="td">87305-2223</td>
		<td class="td">XPR/ETH</td>
		<td class="td text-center red">Limit Buy</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">78.4</td>
		<td class="td">Fully executed</td>
		<td class="td">Oct 28 2017, 4:04 AM</td>
	</tr>
	<tr class="tr">
		<td class="td">87305-2223</td>
		<td class="td">XPR/ETH</td>
		<td class="td text-center green">Limit Buy</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">78.4</td>
		<td class="td">Fully executed</td>
		<td class="td">Oct 28 2017, 4:04 AM</td>
	</tr>
	<tr class="tr">
		<td class="td">87305-2223</td>
		<td class="td">XPR/ETH</td>
		<td class="td text-center green">Limit Buy</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">78.4</td>
		<td class="td">Fully executed</td>
		<td class="td">Oct 28 2017, 4:04 AM</td>
	</tr>
	<tr class="tr">
		<td class="td">87305-2223</td>
		<td class="td">XPR/ETH</td>
		<td class="td text-center green">Limit Buy</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">78.4</td>
		<td class="td">Fully executed</td>
		<td class="td">Oct 28 2017, 4:04 AM</td>
	</tr>
	<tr class="tr">
		<td class="td">87305-2223</td>
		<td class="td">XPR/ETH</td>
		<td class="td text-center red">Limit Buy</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">78.4</td>
		<td class="td">Fully executed</td>
		<td class="td">Oct 28 2017, 4:04 AM</td>
	</tr>
	<tr class="tr">
		<td class="td">87305-2223</td>
		<td class="td">XPR/ETH</td>
		<td class="td text-center green">Limit Buy</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">78.4</td>
		<td class="td">Fully executed</td>
		<td class="td">Oct 28 2017, 4:04 AM</td>
	</tr>
	<tr class="tr">
		<td class="td">87305-2223</td>
		<td class="td">XPR/ETH</td>
		<td class="td text-center green">Limit Buy</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">78.4</td>
		<td class="td">Fully executed</td>
		<td class="td">Oct 28 2017, 4:04 AM</td>
	</tr>
	<tr class="tr">
		<td class="td">87305-2223</td>
		<td class="td">XPR/ETH</td>
		<td class="td text-center red">Limit Buy</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">78.4</td>
		<td class="td">Fully executed</td>
		<td class="td">Oct 28 2017, 4:04 AM</td>
	</tr>
	<tr class="tr">
		<td class="td">87305-2223</td>
		<td class="td">XPR/ETH</td>
		<td class="td text-center green">Limit Buy</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">0.514563446</td>
		<td class="td text-right">78.4</td>
		<td class="td">Fully executed</td>
		<td class="td">Oct 28 2017, 4:04 AM</td>
	</tr>
	</tbody>
</table>