<section class="table-api-tab">
	<div class="block-account">
		<div class="table-api-tab-name">My Keys</div>
		<div class="table-api-tab-tabl">
			<table class="table">
				<thead class="table-heading">
				<tr class="tr">
					<th class="td">Date/Time</th>
					<th class="td">Key</th>
					<th class="td">Secret</th>
					<th class="td">Key</th>
					<th class="td"></th>
				</tr>
				</thead>
				<tbody class="table-body">
				<tr class="tr">
					<td class="td">Oct 28 2017, 4:04 AM</td>
					<td class="td">DD4Fx28ehczgtuT7NYHPNY7gDNNKuim1</td>
					<td class="td">
						<i class="icon icon-see"></i>
						Hidden
					</td>
					<td class="td green">Active</td>
					<td class="td">
						<span class="close-tr">
							<i class="icon icon-close-order"></i>
						</span>
					</td>
				</tr>
				<tr class="tr">
					<td class="td">Oct 28 2017, 4:04 AM</td>
					<td class="td">DD4Fx28ehczgtuT7NYHPNY7gDNNKuim1</td>
					<td class="td">
						<i class="icon icon-see"></i>
						Hidden
					</td>
					<td class="td">Check Email</td>
					<td class="td">
						<span class="close-tr">
							<i class="icon icon-close-order"></i>
						</span>
					</td>
				</tr>
				<tr class="tr">
					<td class="td">Oct 28 2017, 4:04 AM</td>
					<td class="td">DD4Fx28ehczgtuT7NYHPNY7gDNNKuim1</td>
					<td class="td">
						<i class="icon icon-see"></i>
						Hidden
					</td>
					<td class="td">Check Email</td>
					<td class="td">
						<span class="close-tr">
							<i class="icon icon-close-order"></i>
						</span>
					</td>
				</tr>
				<tr class="tr">
					<td class="td">Oct 28 2017, 4:04 AM</td>
					<td class="td">DD4Fx28ehczgtuT7NYHPNY7gDNNKuim1</td>
					<td class="td">
						<i class="icon icon-see"></i>
						Hidden
					</td>
					<td class="td red">Deactivate</td>
					<td class="td">
						<span class="close-tr">
							<i class="icon icon-close-order"></i>
						</span>
					</td>
				</tr>
				<tr class="tr">
					<td class="td">Oct 28 2017, 4:04 AM</td>
					<td class="td">DD4Fx28ehczgtuT7NYHPNY7gDNNKuim1</td>
					<td class="td">
						<i class="icon icon-see"></i>
						Hidden
					</td>
					<td class="td red">Deactivate</td>
					<td class="td">
						<span class="close-tr">
							<i class="icon icon-close-order"></i>
						</span>
					</td>
				</tr>
				</tbody>
			</table>

		</div>
		<div class="table-api-tab-name">Key permissions</div>
		<div class="table-api-tab-check">
			<div class="table-api-tab-check-item">
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox1">
					<label for="checkbox1">Account Balance</label>
				</div>
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox2">
					<label for="checkbox2">Account Balance</label>
				</div>
			</div>
			<div class="table-api-tab-check-item">
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox3">
					<label for="checkbox3">Buy Limit/Market Orders</label>
				</div>
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox4">
					<label for="checkbox4">User Transactions</label>
				</div>
			</div>
			<div class="table-api-tab-check-item">
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox5">
					<label for="checkbox5">Cancel Orders</label>
				</div>
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox6">
					<label for="checkbox6">Sell Limit/ Market Orders</label>
				</div>
			</div>
		</div>
		<div class="table-api-tab-create">
			<div class="box-control">
				<label class="label">API</label>
				<input type="text" value="192.168.1.1" class="form-control ">
			</div>
			<div class="box-control">
				<label class="label">Email</label>
				<input type="text" value="" class="form-control ">
			</div>
			<a class="btn btn-blue" data-toggle="modal" data-target="#modal">CHANGE PASSWORD</a>
		</div>
	</div>
</section>