<section class="table-limits-tab">
	<div class="block-account">
		<div class="block-account-item">
			<div class="block-account-block">
				<div class="block-account-item-day">Your 30-day Volume</div>
				<div class="block-account-item-value">0.00000000 BTC</div>
			</div>
		</div>
		<div class="block-account-item">
			<div class="block-account-item-fees">
				<div class="block-account-item-fees-name">Withdrawal Fees</div>
				<div class="block-account-item-fees-step">
					<div class="block-account-item-fees-step-text">Transfer method</div>
					<div class="block-account-item-fees-step-value">Fee</div>
				</div>
				<div class="block-account-item-fees-step">
					<div class="block-account-item-fees-step-text">Bitcoin</div>
					<div class="block-account-item-fees-step-value">0.001</div>
				</div>
				<div class="block-account-item-fees-step">
					<div class="block-account-item-fees-step-text">Etherium</div>
					<div class="block-account-item-fees-step-value">0.01</div>
				</div>
				<div class="block-account-item-fees-step">
					<div class="block-account-item-fees-step-text">Ripple</div>
					<div class="block-account-item-fees-step-value">0.1</div>
				</div>
			</div>
			<div class="block-account-item-fees">
				<div class="block-account-item-fees-name">Trade Fees</div>
				<div class="block-account-item-fees-step">
					<div class="block-account-item-fees-step-text">Transfer method</div>
					<div class="block-account-item-fees-step-value">Fee</div>
				</div>
				<div class="block-account-item-fees-step">
					<div class="block-account-item-fees-step-text">MAKER</div>
					<div class="block-account-item-fees-step-value">+0.1%</div>
				</div>
				<div class="block-account-item-fees-step">
					<div class="block-account-item-fees-step-text">TAKER</div>
					<div class="block-account-item-fees-step-value">-0.1%</div>
				</div>
			</div>
		</div>
	</div>
</section>