<section class="table-trading-tab">
	<div class="block-account">
		<div class="block-account-item">
			<div class="block-account-item-email">
				<div class="box-control">
					<label class="label">Email</label>
					<input type="text" value="username@domain.com" class="form-control ">
					<a href="/">CHANGE</a>
				</div>
				<div class="block-verification">
					<span>Verification status:</span> <span class="red">Unverified</span>
				</div>
			</div>
			<div class="block-account-item-status">
				<div class="block-account-item-status-icon" style="opacity: 0.5;">
					<i class="icon icon-shield"></i>
					<span>20%</span>
				</div>
				<div class="block-account-item-status-info">
					<div class="block-account-item-status-info-text">Security Status</div>
					<div class="block-account-item-status-info-name">Basic protection</div>
					<div class="block-account-item-status-info-active">Activate 2FA for Full Protection</div>
				</div>
			</div>
		</div>
	</div>
	<div class="block-account">
		<div class="block-account-item">
			<div class="block-account-item-email">
				<div class="box-control">
					<label class="label">Email</label>
					<input type="text" value="username@domain.com" class="form-control ">
					<a href="/">CHANGE</a>
				</div>
				<div class="block-verification">
					<span>Verification status:</span> <span class="green">Verified</span>
				</div>
			</div>
			<div class="block-account-item-status">
				<div class="block-account-item-status-icon" style="opacity: 1;">
					<i class="icon icon-shield"></i>
					<span>100%</span>
				</div>
				<div class="block-account-item-status-info">
					<div class="block-account-item-status-info-text">Security Status</div>
					<div class="block-account-item-status-info-name">Basic protection</div>
					<div class="block-account-item-status-info-active">Activate 2FA for Full Protection</div>
				</div>
			</div>
		</div>
	</div>
	<div class="block-account-name">Fees and Limits</div>
	<div class="block-account">
		<div class="block-account-item">
			<div class="block-account-item-box">
				<div class="block-account-item-box-title">Est. Total account value</div>
				<div class="block-account-item-box-text">
					234.14323598 BTC <span>/ 252434.14 USD  </span>
				</div>
				<div class="block-account-item-box-link">
					<a href="/">Balances</a>
				</div>
			</div>
		</div>
		<div class="block-account-item">
			<div class="block-account-item-box">
				<div class="block-account-item-box-title">Trading Volume</div>
				<div class="block-account-item-box-text">
					234.14323598 BTC <span>/ 252434.14 USD  </span>
				</div>
				<div class="block-account-item-box-level">
					<div class="block-account-item-box-level-item">
						<div class="block-account-item-box-level-item-value">0.05%</div>
						<div class="block-account-item-box-level-item-info first-level">
							<i class="icon icon-star"></i>
							<span>First Level</span>
						</div>
					</div>
					<div class="block-account-item-box-level-item">
						<div class="block-account-item-box-level-item-info silver-level">
							<i class="icon icon-star"></i>
							<span>Silver Level</span>
						</div>
						<div class="block-account-item-box-level-item-info gold-level">
							<i class="icon icon-star"></i>
							<span>Gold Level</span>
						</div>
						<div class="block-account-item-box-level-item-value">0.05%</div>
					</div>
				</div>
				<div class="block-account-item-load green">
					<div class="block-account-item-load-value" style="width: 75%;"></div>
				</div>
				<div class="block-account-item-box-level">
					<div class="block-account-item-box-level-item">
						<div class="block-account-item-box-level-item-text">Current fee level</div>
					</div>
					<div class="block-account-item-box-level-item">
						<div class="block-account-item-box-level-item-text">$0.29384 left</div>
					</div>
				</div>
				<div class="block-account-item-box-toggle">
					<div class="box-control-toggle">
						<a class="btn btn-toggle on btn-middle"><i class="toggle"></i></a>
					</div>
					<div class="block-account-item-box-toggle-text">
						Using CTK to pay for fees <span>(50% discount)</span>
					</div>
				</div>
			</div>
		</div>
		<div class="block-account-item">
			<div class="block-account-item-limit">
				<div class="block-account-item-box">
					<div class="block-account-item-box-title">Monthly limit</div>
					<div class="block-account-item-box-text">
						$4.680,56 / $10.000,00
					</div>
					<div class="block-account-item-load green">
						<div class="block-account-item-load-value" style="width: 75%;"></div>
					</div>
				</div>
			</div>
			<div class="block-account-item-limit">
				<div class="block-account-item-box">
					<div class="block-account-item-box-title">Daily limit</div>
					<div class="block-account-item-box-text">
						$10,56 / $1.300,00
					</div>
					<div class="block-account-item-load green">
						<div class="block-account-item-load-value" style="width: 75%;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="block-account-name">Affiliate Programm</div>
	<div class="block-account">
		<div class="block-account-item">
			<div class="block-account-item-affiliate">
				<div class="box-control">
					<label class="label">Total earned</label>
					<input type="text" value="0.45776879 BTC" class="form-control ">
				</div>
			</div>
			<div class="block-account-item-affiliate">
				<div class="box-control">
					<label class="label">Amount of referrals</label>
					<input type="text" value="32 people" class="form-control ">
				</div>
			</div>
			<div class="block-account-item-affiliate">
				<div class="box-control">
					<label class="label">My Referal ID</label>
					<input type="text" value="19733673" class="form-control ">
				</div>
			</div>
			<div class="block-account-item-affiliate">
				<div class="box-control">
					<label class="label">Your Refferal Link</label>
					<input type="text" value="https://domain.com/swg98457892475irhgijkldehswg" class="form-control ">
					<a href="/">COPY</a>
				</div>
			</div>
		</div>
	</div>
	<div class="block-account">
		<div class="block-account-item">
			<div class="block-account-item-soon">
				<i class="icon icon-soon"></i>
				<span>Coming soon</span>
			</div>
		</div>
	</div>
</section>