<table class="table-orders-tab">
	<thead class="table-orders-tab-header">
	<tr class="tr">
		<th class="td">
			<div class="box-checkbox">
				<input type="checkbox" id="checkbox">
				<label for="checkbox"></label>
			</div>
		</th>
		<th class="td">Order</th>
		<th class="td">Date/Time</th>
		<th class="td">Pair</th>
		<th class="td text-center">Type</th>
		<th class="td text-right">Amount</th>
		<th class="td text-right">Price</th>
		<th class="td text-right">Total</th>
		<th class="td td-amount">Amount Left</th>
		<th class="td">Status</th>
		<th class="td"></th>
	</tr>
	</thead>
	<tbody class="table-orders-tab-body">
		<tr class="tr">
			<td class="td">
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox1">
					<label for="checkbox1"></label>
				</div>
			</td>
			<td class="td">0432594</td>
			<td class="td">Oct 28 2017, 4:04 AM</td>
			<td class="td">XPR/ETH</td>
			<td class="td text-center green">Buy</td>
			<td class="td text-right">0.51465488</td>
			<td class="td text-right">1,020.3593</td>
			<td class="td text-right">2.02937</td>
			<td class="td td-amount">
				<div class="td-flex">
					<div>0.5554846</div>
					<div class="block-amount green">
						<div class="block-amount-value" style="width: 65%;"></div>
					</div>
				</div>
			</td>
			<td class="td">83%</td>
			<td class="td">
				<span class="close-tr">
					<i class="icon icon-close-order"></i>
				</span>
			</td>
		</tr>
		<tr class="tr">
			<td class="td">
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox2">
					<label for="checkbox2"></label>
				</div>
			</td>
			<td class="td">0432594</td>
			<td class="td">Oct 28 2017, 4:04 AM</td>
			<td class="td">XPR/ETH</td>
			<td class="td text-center green">Buy</td>
			<td class="td text-right">0.51465488</td>
			<td class="td text-right">1,020.3593</td>
			<td class="td text-right">2.02937</td>
			<td class="td td-amount">
				<div class="td-flex">
					<div>0.5554846</div>
					<div class="block-amount green">
						<div class="block-amount-value" style="width: 83%;"></div>
					</div>
				</div>
			</td>
			<td class="td">83%</td>
			<td class="td">
				<span class="close-tr">
					<i class="icon icon-close-order"></i>
				</span>
			</td>
		</tr>
		<tr class="tr">
			<td class="td">
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox3">
					<label for="checkbox3"></label>
				</div>
			</td>
			<td class="td">0432594</td>
			<td class="td">Oct 28 2017, 4:04 AM</td>
			<td class="td">XPR/ETH</td>
			<td class="td text-center green">Buy</td>
			<td class="td text-right">0.51465488</td>
			<td class="td text-right">1,020.3593</td>
			<td class="td text-right">2.02937</td>
			<td class="td td-amount">
				<div class="td-flex">
					<div>0.5554846</div>
					<div class="block-amount green">
						<div class="block-amount-value" style="width: 65%;"></div>
					</div>
				</div>
			</td>
			<td class="td">83%</td>
			<td class="td">
				<span class="close-tr">
					<i class="icon icon-close-order"></i>
				</span>
			</td>
		</tr>
		<tr class="tr">
		<td class="td">
			<div class="box-checkbox">
				<input type="checkbox" id="checkbox4">
				<label for="checkbox4"></label>
			</div>
		</td>
		<td class="td">0432594</td>
		<td class="td">Oct 28 2017, 4:04 AM</td>
		<td class="td">XPR/ETH</td>
		<td class="td text-center red">Buy</td>
		<td class="td text-right">0.51465488</td>
		<td class="td text-right">1,020.3593</td>
		<td class="td text-right">2.02937</td>
		<td class="td td-amount">
			<div class="td-flex">
				<div>0.5554846</div>
				<div class="block-amount red">
					<div class="block-amount-value" style="width: 65%;"></div>
				</div>
			</div>
		</td>
		<td class="td">83%</td>
		<td class="td">
			<span class="close-tr">
				<i class="icon icon-close-order"></i>
			</span>
		</td>
	</tr>
		<tr class="tr">
			<td class="td">
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox1">
					<label for="checkbox1"></label>
				</div>
			</td>
			<td class="td">0432594</td>
			<td class="td">Oct 28 2017, 4:04 AM</td>
			<td class="td">XPR/ETH</td>
			<td class="td text-center green">Buy</td>
			<td class="td text-right">0.51465488</td>
			<td class="td text-right">1,020.3593</td>
			<td class="td text-right">2.02937</td>
			<td class="td td-amount">
				<div class="td-flex">
					<div>0.5554846</div>
					<div class="block-amount green">
						<div class="block-amount-value" style="width: 65%;"></div>
					</div>
				</div>
			</td>
			<td class="td">83%</td>
			<td class="td">
				<span class="close-tr">
					<i class="icon icon-close-order"></i>
				</span>
			</td>
		</tr>
		<tr class="tr">
			<td class="td">
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox2">
					<label for="checkbox2"></label>
				</div>
			</td>
			<td class="td">0432594</td>
			<td class="td">Oct 28 2017, 4:04 AM</td>
			<td class="td">XPR/ETH</td>
			<td class="td text-center green">Buy</td>
			<td class="td text-right">0.51465488</td>
			<td class="td text-right">1,020.3593</td>
			<td class="td text-right">2.02937</td>
			<td class="td td-amount">
				<div class="td-flex">
					<div>0.5554846</div>
					<div class="block-amount green">
						<div class="block-amount-value" style="width: 83%;"></div>
					</div>
				</div>
			</td>
			<td class="td">83%</td>
			<td class="td">
				<span class="close-tr">
					<i class="icon icon-close-order"></i>
				</span>
			</td>
		</tr>
		<tr class="tr">
			<td class="td">
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox3">
					<label for="checkbox3"></label>
				</div>
			</td>
			<td class="td">0432594</td>
			<td class="td">Oct 28 2017, 4:04 AM</td>
			<td class="td">XPR/ETH</td>
			<td class="td text-center green">Buy</td>
			<td class="td text-right">0.51465488</td>
			<td class="td text-right">1,020.3593</td>
			<td class="td text-right">2.02937</td>
			<td class="td td-amount">
				<div class="td-flex">
					<div>0.5554846</div>
					<div class="block-amount green">
						<div class="block-amount-value" style="width: 65%;"></div>
					</div>
				</div>
			</td>
			<td class="td">83%</td>
			<td class="td">
				<span class="close-tr">
					<i class="icon icon-close-order"></i>
				</span>
			</td>
		</tr>
		<tr class="tr">
			<td class="td">
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox4">
					<label for="checkbox4"></label>
				</div>
			</td>
			<td class="td">0432594</td>
			<td class="td">Oct 28 2017, 4:04 AM</td>
			<td class="td">XPR/ETH</td>
			<td class="td text-center red">Buy</td>
			<td class="td text-right">0.51465488</td>
			<td class="td text-right">1,020.3593</td>
			<td class="td text-right">2.02937</td>
			<td class="td td-amount">
				<div class="td-flex">
					<div>0.5554846</div>
					<div class="block-amount red">
						<div class="block-amount-value" style="width: 65%;"></div>
					</div>
				</div>
			</td>
			<td class="td">83%</td>
			<td class="td">
			<span class="close-tr">
				<i class="icon icon-close-order"></i>
			</span>
			</td>
		</tr>
		<tr class="tr">
			<td class="td">
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox1">
					<label for="checkbox1"></label>
				</div>
			</td>
			<td class="td">0432594</td>
			<td class="td">Oct 28 2017, 4:04 AM</td>
			<td class="td">XPR/ETH</td>
			<td class="td text-center green">Buy</td>
			<td class="td text-right">0.51465488</td>
			<td class="td text-right">1,020.3593</td>
			<td class="td text-right">2.02937</td>
			<td class="td td-amount">
				<div class="td-flex">
					<div>0.5554846</div>
					<div class="block-amount green">
						<div class="block-amount-value" style="width: 65%;"></div>
					</div>
				</div>
			</td>
			<td class="td">83%</td>
			<td class="td">
				<span class="close-tr">
					<i class="icon icon-close-order"></i>
				</span>
			</td>
		</tr>
		<tr class="tr">
			<td class="td">
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox2">
					<label for="checkbox2"></label>
				</div>
			</td>
			<td class="td">0432594</td>
			<td class="td">Oct 28 2017, 4:04 AM</td>
			<td class="td">XPR/ETH</td>
			<td class="td text-center green">Buy</td>
			<td class="td text-right">0.51465488</td>
			<td class="td text-right">1,020.3593</td>
			<td class="td text-right">2.02937</td>
			<td class="td td-amount">
				<div class="td-flex">
					<div>0.5554846</div>
					<div class="block-amount green">
						<div class="block-amount-value" style="width: 83%;"></div>
					</div>
				</div>
			</td>
			<td class="td">83%</td>
			<td class="td">
				<span class="close-tr">
					<i class="icon icon-close-order"></i>
				</span>
			</td>
		</tr>
		<tr class="tr">
			<td class="td">
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox3">
					<label for="checkbox3"></label>
				</div>
			</td>
			<td class="td">0432594</td>
			<td class="td">Oct 28 2017, 4:04 AM</td>
			<td class="td">XPR/ETH</td>
			<td class="td text-center green">Buy</td>
			<td class="td text-right">0.51465488</td>
			<td class="td text-right">1,020.3593</td>
			<td class="td text-right">2.02937</td>
			<td class="td td-amount">
				<div class="td-flex">
					<div>0.5554846</div>
					<div class="block-amount green">
						<div class="block-amount-value" style="width: 65%;"></div>
					</div>
				</div>
			</td>
			<td class="td">83%</td>
			<td class="td">
				<span class="close-tr">
					<i class="icon icon-close-order"></i>
				</span>
			</td>
		</tr>
		<tr class="tr">
			<td class="td">
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox4">
					<label for="checkbox4"></label>
				</div>
			</td>
			<td class="td">0432594</td>
			<td class="td">Oct 28 2017, 4:04 AM</td>
			<td class="td">XPR/ETH</td>
			<td class="td text-center red">Buy</td>
			<td class="td text-right">0.51465488</td>
			<td class="td text-right">1,020.3593</td>
			<td class="td text-right">2.02937</td>
			<td class="td td-amount">
				<div class="td-flex">
					<div>0.5554846</div>
					<div class="block-amount red">
						<div class="block-amount-value" style="width: 65%;"></div>
					</div>
				</div>
			</td>
			<td class="td">83%</td>
			<td class="td">
			<span class="close-tr">
				<i class="icon icon-close-order"></i>
			</span>
			</td>
		</tr>
		<tr class="tr">
			<td class="td">
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox1">
					<label for="checkbox1"></label>
				</div>
			</td>
			<td class="td">0432594</td>
			<td class="td">Oct 28 2017, 4:04 AM</td>
			<td class="td">XPR/ETH</td>
			<td class="td text-center green">Buy</td>
			<td class="td text-right">0.51465488</td>
			<td class="td text-right">1,020.3593</td>
			<td class="td text-right">2.02937</td>
			<td class="td td-amount">
				<div class="td-flex">
					<div>0.5554846</div>
					<div class="block-amount green">
						<div class="block-amount-value" style="width: 65%;"></div>
					</div>
				</div>
			</td>
			<td class="td">83%</td>
			<td class="td">
				<span class="close-tr">
					<i class="icon icon-close-order"></i>
				</span>
			</td>
		</tr>
		<tr class="tr">
			<td class="td">
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox2">
					<label for="checkbox2"></label>
				</div>
			</td>
			<td class="td">0432594</td>
			<td class="td">Oct 28 2017, 4:04 AM</td>
			<td class="td">XPR/ETH</td>
			<td class="td text-center green">Buy</td>
			<td class="td text-right">0.51465488</td>
			<td class="td text-right">1,020.3593</td>
			<td class="td text-right">2.02937</td>
			<td class="td td-amount">
				<div class="td-flex">
					<div>0.5554846</div>
					<div class="block-amount green">
						<div class="block-amount-value" style="width: 83%;"></div>
					</div>
				</div>
			</td>
			<td class="td">83%</td>
			<td class="td">
				<span class="close-tr">
					<i class="icon icon-close-order"></i>
				</span>
			</td>
		</tr>
		<tr class="tr">
			<td class="td">
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox3">
					<label for="checkbox3"></label>
				</div>
			</td>
			<td class="td">0432594</td>
			<td class="td">Oct 28 2017, 4:04 AM</td>
			<td class="td">XPR/ETH</td>
			<td class="td text-center green">Buy</td>
			<td class="td text-right">0.51465488</td>
			<td class="td text-right">1,020.3593</td>
			<td class="td text-right">2.02937</td>
			<td class="td td-amount">
				<div class="td-flex">
					<div>0.5554846</div>
					<div class="block-amount green">
						<div class="block-amount-value" style="width: 65%;"></div>
					</div>
				</div>
			</td>
			<td class="td">83%</td>
			<td class="td">
				<span class="close-tr">
					<i class="icon icon-close-order"></i>
				</span>
			</td>
		</tr>
		<tr class="tr">
			<td class="td">
				<div class="box-checkbox">
					<input type="checkbox" id="checkbox4">
					<label for="checkbox4"></label>
				</div>
			</td>
			<td class="td">0432594</td>
			<td class="td">Oct 28 2017, 4:04 AM</td>
			<td class="td">XPR/ETH</td>
			<td class="td text-center red">Buy</td>
			<td class="td text-right">0.51465488</td>
			<td class="td text-right">1,020.3593</td>
			<td class="td text-right">2.02937</td>
			<td class="td td-amount">
				<div class="td-flex">
					<div>0.5554846</div>
					<div class="block-amount red">
						<div class="block-amount-value" style="width: 65%;"></div>
					</div>
				</div>
			</td>
			<td class="td">83%</td>
			<td class="td">
			<span class="close-tr">
				<i class="icon icon-close-order"></i>
			</span>
			</td>
		</tr>
	</tbody>
</table>