<section class="trader open">
	<div class="trader_header">
		<i class="icon icon-arrow-toggle"></i>
		<span>Recent trader</span>
	</div>
	<div class="trader_body">
		<div class="trader_body-value">
			<div class="trader_body-value-item">
				<div class="trader_body-value-item-pair">Price BTC</div>
				<div class="trader_body-value-item-price">Amount XRP</div>
				<div class="trader_body-value-item-change">time</div>
			</div>
			<div class="trader_body-value-item trader_body-value-item-red">
				<div class="trader_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="trader_body-value-item-price">
					<span>23</span>
				</div>
				<div class="trader_body-value-item-change">
					<span class="">03:34:40</span>
				</div>
				<div class="after" style="width: 0%;"></div>
			</div>
			<div class="trader_body-value-item trader_body-value-item-green">
				<div class="trader_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="trader_body-value-item-price">
					<span>1</span>
				</div>
				<div class="trader_body-value-item-change">
					<span class="">03:34:40</span>
				</div>
				<div class="after" style="width: 100%;"></div>
			</div>
			<div class="trader_body-value-item trader_body-value-item-red">
				<div class="trader_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="trader_body-value-item-price">
					<span>23</span>
				</div>
				<div class="trader_body-value-item-change">
					<span class="">03:34:40</span>
				</div>
				<div class="after" style="width: 100%;"></div>
			</div>
			<div class="trader_body-value-item trader_body-value-item-red">
				<div class="trader_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="trader_body-value-item-price">
					<span>23</span>
				</div>
				<div class="trader_body-value-item-change">
					<span class="">03:34:40</span>
				</div>
				<div class="after" style="width: 100%;"></div>
			</div>
			<div class="trader_body-value-item trader_body-value-item-green">
				<div class="trader_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="trader_body-value-item-price">
					<span>1</span>
				</div>
				<div class="trader_body-value-item-change">
					<span class="">03:34:40</span>
				</div>
				<div class="after" style="width: 100%;"></div>
			</div>
			<div class="trader_body-value-item trader_body-value-item-red">
				<div class="trader_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="trader_body-value-item-price">
					<span>23</span>
				</div>
				<div class="trader_body-value-item-change">
					<span class="">03:34:40</span>
				</div>
				<div class="after" style="width: 100%;"></div>
			</div>
			<div class="trader_body-value-item trader_body-value-item-green">
				<div class="trader_body-value-item-pair">
					<span class="price-opacity">0.000090</span><span>85</span>
				</div>
				<div class="trader_body-value-item-price">
					<span>1</span>
				</div>
				<div class="trader_body-value-item-change">
					<span class="">03:34:40</span>
				</div>
				<div class="after" style="width: 100%;"></div>
			</div>
		</div>
	</div>
</section>