</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/modal.js"></script>
<script src="js/tabs.js"></script>
<script src="js/script.js"></script>
</body>
</html>