{% include "blocks/base/_page-head.html" %}
{% include "blocks/header/_header.html" %}
{% include "blocks/block/_tabs-header-account.html" %}
<div class="main">
	<div class="container-center">
		{% include "blocks/block/_tab-content-account.html" %}
	</div>
</div>
{% include "blocks/base/_page-down.html" %}