{% include "blocks/base/_page-head.html" %}
{% include "blocks/header/_header.html" %}
<div class="main">
	<div class="container">
		{% include "blocks/block-left/_block-left.html" %}
		{% include "blocks/block-center/_block-center.html" %}
		{% include "blocks/block-right/_block-right.html" %}

	</div>
</div>
{% include "blocks/base/_page-down.html" %}