<header class="header">
	<div class="container">
		<!--<div class="flexible">-->
		<div class="header-tab">
			<a class="header-tab-logo">
				<i class="icon icon-logo"></i>
			</a>
			<div class="header-tab-wifi">
				<i class="icon icon-fiwi"></i>
			</div>
			<div class="header-tab-tame">
				<span>16:22:14</span>
			</div>
			<div class="header-tab-link active">Trading</div>
			<div class="header-tab-link">Market overview</div>
		</div>


		<div class="header-nav" id="navbar">
			<ul class="nav">
				<li>
					<div class="link link-balances">
						<i class="icon icon-balances"></i>
						Balances
						<span>0.00  </span>XRP
						<span>4.145786 </span>BTC
						<i class="icon icon-dropdown"></i>
						<div class="link-balances-open">
							<a class="link-balances-open-link" href="/">Balances, Deposits & Withdrawals</a>
							<a class="link-balances-open-link" href="/">Balances, Deposits & Withdrawals</a>
							<a class="link-balances-open-link" href="/">Balances, Deposits & Withdrawals</a>
							<a class="link-balances-open-link" href="/">Balances, Deposits & Withdrawals</a>
						</div>
					</div>
				</li>

				<li>
					<div class="link link-support">
						<i class="icon icon-support"></i>
						<div class="link-support-open">
							<a class="link-support-open-link" href="/">Help Center</a>
							<a class="link-support-open-link" href="/">Help Center</a>
							<a class="link-support-open-link" href="/">Help Center</a>
						</div>
					</div>
				</li>

				<li>
					<div class="link link-notificator">
						<i class="icon icon-notificator"></i>
						<div class="link-notificator-open">
							<a class="link-notificator-open-link" href="/">
								<div class="link-notificator-open-link-name">Facts Why Inkjet Printing Is Very</div>
								<div class="link-notificator-open-link-text">5 Reasons To Choose A Notebook Over A Computer Desktop.</div>
								<div class="link-notificator-open-link-close"><i class="icon icon-close"></i></div>
							</a>
							<a class="link-notificator-open-link" href="/">
								<div class="link-notificator-open-link-name">Facts Why Inkjet Printing Is Very</div>
								<div class="link-notificator-open-link-text">5 Reasons To Choose A Notebook Over A Computer Desktop.</div>
								<div class="link-notificator-open-link-close"><i class="icon icon-close"></i></div>
							</a>
							<a class="link-notificator-open-link" href="/">
								<div class="link-notificator-open-link-name">Facts Why Inkjet Printing Is Very</div>
								<div class="link-notificator-open-link-text">5 Reasons To Choose A Notebook Over A Computer Desktop.</div>
								<div class="link-notificator-open-link-close"><i class="icon icon-close"></i></div>
							</a>
							<a href="/" class="link-notificator-open-show">Show all</a>
						</div>
					</div>
				</li>

				<li>
					<div class="link link-user">
						<i class="icon icon-user"></i> <i class="icon icon-dropdown"></i>
						<div class="link-user-open">
							<a class="link-user-open-link" href="/">Security</a>
							<a class="link-user-open-link" href="/">Security</a>
							<a class="link-user-open-link" href="/">Security</a>
							<a class="link-user-open-link" href="/">Security</a>
						</div>
					</div>
				</li>
			</ul>
		</div>


		<!--<div class="header-menu">-->
		<!--<a class="btn btn-menu">-->
		<!--<span class="icon-bar"></span>-->
		<!--<span class="icon-bar"></span>-->
		<!--<span class="icon-bar"></span>-->
		<!--</a>-->
		<!--</div>-->
	</div>
	<!--</div>-->
</header>